[2017-05-29 07:20] folny opened #1 "Sonoff Original Firmware"
Hi

Is it possible to download the original firmware for sonoff with these links ?.

http://52.28.103.75:8088/ota/rom/xpiAOwgVUJaRMqFkRBsoI4AVtnozgwp1/user1.1024.new.2.bin
http://52.28.103.75:8088/ota/rom/xpiAOwgVUJaRMqFkRBsoI4AVtnozgwp1/user2.1024.new.2.bin

[2017-05-29 12:41] mirko commented on #1
The device adds some CGI params to get URL before issuing the GET request.
Unfortunately I don't have
a) the pcap anymore but just kept the downloaded images
b) any device running a firmware <1.5.5 for which I could once again initiate and sniff an upgrade

[2017-05-29 14:51] folny commented on #1
Thank you for your reply, please do not know where can i find the original firmware for sonoff device ?.

[2017-05-31 21:00] jalmeroth commented on #1
You will need the following HTTP-Headers to download the files:

deviceid: "10000xxxxx"
ts: timestamp
sign: signed Request
Host: "dl.itead.cn"
User-Agent: "itead-device"

[2017-06-01 04:25] folny commented on #1
Hi

I have read some pages as it works well it is described in the attached link https://wiki.almeroth.com/doku.php?id=projects:sonoff but I could not correctly build the link for the download firmware please can you write me the correct wording http line to get the firmware put downloaded thank you

[2017-06-01 07:26] ionciubotaru opened #2 "Script improvement"
For users with less experience please add a script for raspberry pi 3:

1. start wifi as AP with SSID sonota and password 12345678
2.start python server on port 443 and download a compiled image of the latest tasmota version

The only configuration the user has to do is to select the AP and enter the password, and finally has a running version of Tasmota software

Or, better, provide a complete sd

[2017-06-01 10:51] jalmeroth commented on #1
You can not construct a link for this. It requires the usage of a tool like curl or a script, where you can define HTTP-Headers. Also, the sign-parameter is based on your deviceid. You can re-use it to download other firmware as well, but I will not share my credentials. :)

[2017-06-01 13:36] mirko commented on #1
Actually I think I did so. If I remember right I used a longish URL containing the the CGI params you mentioned and just set it up as a GET request.

The original firmware also contains the according string:

`GET %s?deviceid=%s&ts=%s&sign=%s HTTP/1.1`

[2017-06-01 13:43] mirko commented on #2
Well, it's certainly possible and I'm happy to see that.

However using the script has a few implications:
 - you still need to build different images for particular devices (mainly the Sonoff 4CH switch as well as the Sonoff Touch, as they have the ESP8285 instead of the ESP8266 built-in)
 - you might brick your device and therefore should be able to unbrick / (re)flash it via serial

Making it t

[2017-06-01 13:53] mirko commented on #1
`http://52.28.103.75:8088/ota/rom/xpiAOwgVUJaRMqFkRBsoI4AVtnozgwp1/user1.1024.new.2.bin?deviceid=10000XXXXX&ts=DDDDDDDDD&sign=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX` works for me

[2017-06-01 13:59] ionciubotaru commented on #2
As I know @arendst solve the differences between 8266 and 8285 so you can use the same .bin for both
Unfortunately I am not so experienced in linux, that's why I request your help with a ready made raspberry image or, at leas,t all in one script.

You did a great job, keep up the good work

[2017-06-01 14:10] jalmeroth commented on #1
You're right, it seems this changed since my investigation. 👍

@mirko: Do you have an idea what the sign-parameter consists of? It is slightly different from what the app does:
[code]

[2017-06-01 14:52] mirko commented on #1
No idea, I just quick-checked if it's the sha256sum of the image (which is provided to the device beforehand via its WebSocket connection) but it doesn't seem to be.

[2017-06-01 16:13] folny commented on #1
Thank you, Mirko

I do not know where the problem is but when I opened a link so downloading the file does not work, so I want to ask or you would not get it and did not add bin files to your Github I would be grateful to you.

[2017-06-01 17:35] roondar commented on #2
Why did you close the issue ? You could tag it as an enhancement ?
May be this weekend, I'will provide a docker image/virtualbox or other thing.

[2017-06-01 17:38] mirko commented on #1
I'm pretty sure I'm not allowed to redistribute those binary files.
On top I'm not really keen of having random 3rd binary files in my GitHub repos.
Also the file is device type specific (in this case "Sonoff Basic") and might be even generated on the fly taking my deviceid into account (although unlikely).
I'll leave the issue open, especially for figuring out how the sign parameter is generated.

[2017-06-01 17:42] mirko commented on #2
I'm sorry, I indeed only considered the issues being issues.
Will follow your advise and tag it appropriately.

[2017-06-01 17:46] roondar commented on #2
Very fast ! :-)
It'll be easiest  to do the job with latest Tasmota release.

[2017-06-01 18:26] folny commented on #1
Okay so if you could please send me the files to my email ? emil.schvarz@gmail.com

[2017-06-03 09:20] mirko commented on #2
Short update: I pushed quite a few code changes yesterday, incl. provisioning support which obsoletes using the proprietary app and the DNS redirect. Also the necessity as running it as root is gone.
That way I think the script should be pretty usable for everybody who can install python dependencies and running such a script.

[2017-06-03 09:59] ionciubotaru commented on #2
Great news,
please upload the latest Tasmota bin1 and bin2, because this is another difficult part.
After first update is it possible to use the normal Tasmota web update procedure ?

[2017-06-03 10:13] mirko commented on #2
The Tasmota images can be built according to the instructions stated the Tasmota wiki with the adjustment mentioned in my blog post (as well as in the README of this very project).

[2017-06-03 11:15] ionciubotaru commented on #2
Hi @mirko

You did a great job, you are just one step before complete - add a nice bash script to do all in one step:

[code]

For you is very easy to compile Tasmota's, but I'm sure that 50% of the users has problems finding boards.txt
That's why @smadds serve already compiled bin files http://sonoff.maddox.co.uk/tasmota/sonoff.bin
There is a link to your git in tasmota's wiki page https://github

[2017-06-13 10:29] mirko commented on #2
If you have such a script, find it worth being added to the repo, add some proper documentation from where to fetch what kind of pre-built images, I'm more than happy to take a look at respective pull-requests.

[2017-06-15 10:14] jalmeroth opened #4 "WSS (WebSocket Secure) will not work on device with older firmware"
I have tried to use the script with a Sonoff POW running on firmware version 2.0.2.
To my knowledge this version did not yet support WSS. Therefore I had to upgrade the firmware to version 2.0.4 first. After that the script seems to work flawlessly.

Now the question is: do we want to implement the WS version too or shall people upgrade first?

[2017-06-17 06:09] #4 closed

[2017-06-19 11:55] roondar commented on #2
Hi Mirko,

Do you know if ssl  still necessary  ?

[2017-06-19 16:46] mirko commented on #2
Could you please elaborate or provide some context?

[2017-06-19 17:06] roondar commented on #2
Yes, as you are using a different port than 443.
I suppose we can use a http url and not https.
So, if it's only http, openssl won't be needed ?

[2017-06-20 00:09] mirko commented on #2
It is HTTPS - thus HTTP over SSL/TLS.

[2017-06-20 07:15] roondar commented on #2
It s in order to deliver a bash script.
I suposed https not needed anymore.

[2017-06-20 12:29] mirko commented on #2
The device is initiating the communication by sending an HTTP*S* request. I wonder where your suppositions come from.
Anyway, I'll close this ticket - feel free to propose a pull request for that enhancement.

[2017-06-20 12:29] #2 closed

[2017-06-27 12:27] lgnd33 opened #7 "Build script"
(this might be cross-project enhancement)
It would be really great if there would be a platfrom.io built target added to sonoff-tasmota project that would build images for SonOTA (with modified irom0_0_seg) , or provide a standalone build script that would build the images from source and put them to right place.
I'm still struggling to do this even manually, so automated help would be more than w

[2017-06-27 13:51] mirko commented on #7
There is no need for such a custom tasmota build anymore, as - thanks to @khcnz - we went for intermediate images[1].
This project includes respective build scripts you asked for.

https://github.com/khcnz/Espressif2Arduino

[2017-06-27 13:51] #7 closed

[2017-06-27 20:39] khcnz commented on #7
Yes @ignd33 if you don't use the E2A codebase above, the bootloader won't be replaced, which means although you can build and install tasmota (or any other Arduino based build), you will not be able to do OTA upgrades.

I'd recommend building the 2 E2A images following the guide on that repo - once you do that you can just install a stock sonoff image without needing any other build changes.

Note

[2017-07-04 16:31] BenWoodford opened #8 "Current Status of this solution?"
Before I start fiddling with something that controls a 240V line, I thought it may be best to double check first. I'm not really a hardware kind of guy so soldering a header on isn't my idea of a fun afternoon, so this OTA solution is right up my street.

What's the current situation? Is it possible to flash a Sonoff OTA now? I just picked up two (possibly not iTad authentic, but hey, they were £1

[2017-07-05 03:54] palitu commented on #8
I just tried it last night... didnt work for me, though i probably did it
incorrectly.

I ended up just flashing them with the esptool.py, and used a header just
pushed in (not soldered) whislt erasing the flash and updating the firmware.

On Wed, Jul 5, 2017 at 12:31 AM, Ben Woodford <notifications@github.com>
wrote:

[2017-07-05 05:16] kokhoor opened #9 "SSL Error when device is connecting to sonota webserver"
I have created a dummy cert earlier, using:

`openssl req -x509 -nodes -newkey rsa:2048 -keyout ssl/server.key -out ssl/server.crt -days 42235`

But when SONOFF SV tries to connect, I see SSL error as below:

~~ Waiting for device to connect
2017-07-05 13:14:02,654 (WARNING) error on read: [SSL: DECRYPTION_FAILED_OR_BAD_RECORD_MAC] decryption failed or bad record mac (_ssl.c:1748)
2017-07-05 13:14

[2017-07-05 09:24] blackrozes commented on #8
Perhaps someone who successfully used the script, could provide a datailed manual for people like me, which are only 50%-nerds. And more familiar with frontend development than flashing images things like that. That would be great!

[2017-07-05 10:58] lgnd33 commented on #8
I'm trying to come to a sucessful deployment end-to-end (espessif2arduino +
sonfOTA + sonoff-tasmota) and am recording all the steps in a document.. If
and once I'm successul, I'll give it to Mirko so he can put it on SonOTA
Wiki, and I'll also send it to Sonoff-Tasmota guys, for E2E reference.
If anyone is faster, please do the same, to save us all some time ;)

On 5 July 2017 at 11:24, blackroze

[2017-07-05 11:15] blackrozes commented on #8
♥♥♥

[2017-07-05 11:31] BenWoodford commented on #8
Would be great to have, this certainly isn't my forte so a nice guide on getting it up and running so I can use it with HASS without having to solder would be great.

[2017-07-06 06:19] mirko commented on #8
Well, I'd say it's working :) I also updated the README a couple of days ago hoping it clarifies a few things.
Nevertheless I indeed see it's not a step-by-step guide, so I'm quite looking forward to someone providing such. Thanks for all your comments and contribution!

  mirko

[2017-07-06 06:21] mirko commented on #9
To be honest I've no idea. Maybe asking on some tornado support channel? Could it be your sonoff has a different firmware (version) which doesn't use SSL/TLS at all? Just shooting in the dark...

[2017-07-06 09:09] GhsHun opened #10 "Device answer: error 404"
Hi!

First: Sorry for my english ;)
I create a user1 and a user2 image from source _eagle.flash.1m0.ld_ and copy them to the folder static/.
After that I run the script. It is what I see:

[code]

So, the question is: Is this correct to use the _eagle.flash.1m0.ld_ as the source of user1 and user2 image or should I use the _eagle.flash.1m64.ld_ file instead?

I see a similar post in this thread: [

[2017-07-06 09:11] cawede commented on #8
Hello Mirko, all,

I am quite new into that Arduino and Sonoff world. I took the following approach to get a S20 flashed:
1. compile two tasmata images with the OTA ROM1 and OTA ROM2 settings
2. used the esptool to convert the elf output format, resulting bin files start EA
3. copied the two bin files into the static below the place where sonota.py is located, renamed them to image_user1-0x01000.b

[2017-07-06 09:28] mirko commented on #8
Please do not use (modified) 3rd party Arduino projects  (e.g. Tasmota) being flashed via the Sonoff OTA mechanism.
Although it works (should at least), there will be no way of using the ArduinoOTA mechanism from upon there.
Use images built from https://github.com/khcnz/Espressif2Arduino project as intermediate ones, to replace the bootloader.
Either way, the way you're doing it flashing *should*

[2017-07-06 09:49] mirko commented on #10
Can you provide me the image(s) you built so I can take a look, maybe there's sth. obviously wrong with them.

[2017-07-06 09:54] GhsHun commented on #10
Here they are:
[image_user1-0x01000.bin.txt](https://github.com/mirko/SonOTA/files/1127423/image_user1-0x01000.bin.txt)
[image_user2-0x81000.bin.txt](https://github.com/mirko/SonOTA/files/1127427/image_user2-0x81000.bin.txt)

Please delete the .txt extension from the end of the files.

[2017-07-06 09:58] mirko commented on #10
Looks good to me - does it also happen with images build from the Espressif2Arduino sketch?
Maybe the file is too big?

[2017-07-06 10:07] GhsHun commented on #10
Ok. I used the original Tasmota files. I will replace them and try again.

[2017-07-06 10:24] BenWoodford commented on #8
Dunno about everyone else, but all I'm after is a solder-free way to add Home Assistant support to my Sonoffs. Is that doable with this method?

[2017-07-06 10:26] mirko commented on #8
Home Assistant is totally unrelated to getting custom Arduino sketches onto the Sonoffs via its original OTA method.

[2017-07-06 10:37] BenWoodford commented on #8
More specifically I need a firmware with MQTT support on them, but after your previous comment now I'm not sure if that's possible using this method?

[2017-07-06 10:49] GhsHun commented on #10
So, I check the linker script in the Espressif2Arduino sketch, and both are the same that I used. That's not the problem.

[2017-07-06 10:52] lgnd33 commented on #8
It is possible - my use-case is the same, but this is only a part of the
puzzle.

I had luck of creating a PlatformIO environment for building OTA1 and OTA2
images with Espressif2Arduino project. I also added Mirko's script as
custom OTA loader, but am stuck with part of it, so I'm still debugging.
After this is done, Sonoff-Tasmota will be next logical (and pretty
strait-forward) step, after whic

[2017-07-06 10:56] mirko commented on #8
There's plenty of information about which Arduino project supports which hardware and feature.
This project is to get 4rd party Arduino firmware onto Sonoff devices without opening them up and flashing via serial.

[2017-07-06 10:58] mirko commented on #10
There's still the potential issue of your images being too big, that's why I asked explicitly about trying it with Espressif2Arduino builds.

[2017-07-06 11:10] GhsHun commented on #10
Ok, I built an image width Espressif2Arduino linker script and its size is the same as before. 479.312 bite.
I changed the WiFi settings in the the user_config.h and disabled the IR_REMOTE. Nothing else was modified. Should I change anything else?

[2017-07-06 11:15] cawede commented on #10
I think it is meant to build two Espressif2Arduino binaries (just compile from this sketch) with the respective linker scripts out of that project. You need to set URL_ROM_1 and 2 according to your needs. The resulting image size is in my build 259379 Bytes. Need to see this evening if they are flashing once I am close to my S20 again.

[2017-07-06 11:17] mirko commented on #10
This sounds far too much for a single Espressif2Arduino image.

[2017-07-06 11:31] GhsHun commented on #10
In this thread: [https://github.com/arendst/Sonoff-Tasmota/issues/476](url) the images are almost same size like mine:
![kep](https://user-images.githubusercontent.com/29941470/27908968-be88fb8c-624e-11e7-9675-68bd1bdba5b0.png)

My Arduino settings:
![kep](https://user-images.githubusercontent.com/29941470/27909071-3a6b96ec-624f-11e7-8ffe-3d6cd14aceb8.png)

What is wrong?

[2017-07-06 11:35] mirko commented on #10
What images are you talking about?
I'm talking about those being created by the Espressif2Arduino Sketch, *which you're supposed to use by SonOTA*.

[2017-07-06 11:36] mihalski commented on #10
In that thread I am also having problems so I wouldn't go by my image sizes. I will be trying Espressif2Arduino now to see if that sheds any light on our problem.

[2017-07-06 11:41] GhsHun commented on #10
I want to flash Tasmota fw with SonOTA. It isn't possible? I use sonoff skatch. I downloaded it from [https://github.com/arendst/Sonoff-Tasmota](url)

[2017-07-06 11:42] mirko commented on #10
People, please read the README.
Way is: original ITEAD firmware -> intermediate Espressif2Arduino firmware (which on first run replaces the bootloader) -> non-modified Arduino images (e.g. Tasmota)

[2017-07-06 11:43] mihalski commented on #10
Well it's not working so I'd try the suggestion given to do it differently.. Trying to get it done now.

[2017-07-06 11:49] GhsHun commented on #10
Ok, I understand it. I didn't read it carefully, sorry!

[2017-07-06 12:19] mihalski commented on #10
I've not made any real progress.. But I've just noticed something that might be important.. esptool is being used on .elf images.. I would swear (but am not certain) that I have been doing so on .bin images.. If I have, that could be the problem.

[2017-07-06 12:23] GhsHun commented on #10
Change the Build output folder in the Airduino. Watch this:
[https://www.kanda.com/blog/microcontrollers/avr-microcontrollers/find-arduino-hex-files-output-binaries/](url)

After that the elf files will be there in the folder.

[2017-07-06 12:26] mihalski commented on #10
I've got the images:
[code]
I presume now I use Sonata as I did previously? Let's see how it goes.

[2017-07-06 12:30] GhsHun commented on #10
I have a question:
I read Espressif2Arduino readme. There it is described:
![kep](https://user-images.githubusercontent.com/29941470/27910808-ffcdb67a-6256-11e7-8e3e-47a715b260db.png)
Where? In the Espressif2Arduino.ino file? In this file I found only this:

![kep](https://user-images.githubusercontent.com/29941470/27910884-582d4060-6257-11e7-9c4b-6d1324beaa4b.png)
So, where is the URL_ROM_1?

[2017-07-06 12:34] mirko commented on #10
There is none?! Rom 1 is fetched and flashed by the *original* Sonoff FW.

[2017-07-06 12:41] mihalski commented on #10
You wanna know what? It works!
I feel a strong urge to build my first ever docker container to automate this..

This is a triumph!
Thank you @mirko

[2017-07-06 12:43] mirko commented on #10
Congrats! Glad to hear that - happy about any contribution!

[2017-07-06 12:50] mihalski commented on #10
I do have one question though.. Is building Espressif2Arduino.ino-0x01000.bin totally redundant? The original Sonoff image is always at that location and thus only Espressif2Arduino.ino-0x81000.bin (and a TASMOTA or similar image) is actually required?

[2017-07-06 12:55] kokhoor commented on #9
Hi mirko, thanks for response. Somehow the error happens on my OSX Sierra. I tried running it on Windows and it worked!

[2017-07-06 12:55] #9 closed

[2017-07-06 13:16] mirko commented on #10
I'm not sure I get your question: The Sonoff original FW might either ask for, fetch and flash a user_1 or user_2 image - we can't control which one the Sonoff asks for. So we need both.
As a second (or, depending on whether the Sonoff asked for the user_1-image, the third) step Espressif2Arduino flashes the bootloader to the Arduino one to be compatible with the Arduino OTA mechanism.
As a third

[2017-07-06 13:22] mihalski commented on #10
I think I erroneously made an assumption or two. Thanks for the step-by-step as it will be helpful when I try to design a way to automate this.

There is a disconnect between the direct flashing described in the Espressif2Arduino documentation and what SonOTA is trying to achieve that can be somewhat confusing.

[2017-07-06 14:01] GhsHun commented on #10
Ok, I flash the Espressif2Arduino fw.
[code]

And what's the next step? My device led lightning continuously and nothing is happening.

[2017-07-06 14:46] GhsHun commented on #10
Ok. I'm stupid. It's WORKING!

Thank you @mirko

[2017-07-06 16:14] mirko commented on #10
Since all issues (and hopefully headaches) seem to be solved/gone by now, the documentation obviously is not complete / is misleading / you name it.
As from developer perspective things naturally seem clearer than they do to users, I'd highly appreciate if you could sum up the pitfalls and issues you encountered, maybe even coming up with a step-by-step tutorial which you think might clear things

[2017-07-06 16:22] mirko commented on #8
I'd like to reference https://github.com/mirko/SonOTA/issues/10 where two guys had the same / similar issues which they eventually solved.

[2017-07-07 09:23] mihalski commented on #10
I'm trying to get this to work with a new Sonoff Pow (one of my seems to have died this evening) but it doesn't seem to be joining the network after provisioning has been done:
** No ip address of the ITEAD DHCP range (10.10.7.0/24) is assigned to any of your interfaces, which means you don't appear to be connected to the IEAD WiFi network.
** Please change into the ITEAD WiFi network (ITEAD-10000

[2017-07-07 09:38] mihalski commented on #10
Used --legacy with root to get further:
[code]
These are the same firmware files I previously had success with on a basic Sonoff.
The files are available at the URL's in the debug. As mentioned by @mirko earlier this could be something to do with it not liking checksums?

[2017-07-07 09:49] mihalski commented on #10
Tried another Sonoff Pow. This time I started with legacy mode:
[code]
I can't see any hints in these as to what could be going wrong.. Hopefully someone else can.

[2017-07-07 11:36] mirko commented on #10
Are you using builds from the Espressif2Arduino sketch?

[2017-07-07 11:38] mihalski commented on #10
As the filenames imply, yes.
Like I said.. These are the same builds that worked with the basic Sonoff.

I don't see why the basic Sonoff is happy to take them but the Sonoff Pow is not.

[2017-07-07 11:48] mirko commented on #10
Unfortunately, me neither.

[2017-07-07 12:40] mihalski commented on #10
Good idea.. I will try that next.. Might be a day before I get a chance to act on it..

On the bright side.. Unlike the latest basic Sonoffs which I have been unable to upgrade using an FTDI, the Sonoff Pow's still seem upgradable via FTDI.

[2017-07-07 12:50] mirko commented on #10
If it works with latest firmware, please open a separate issue-ticket stating that with your (previous) FW version it doesn't work, even when `--legacy` is specified.

[2017-07-09 17:22] StSimmons opened #11 "Sonoff Touch"
Is there a way to get the Sonoff Touch to broadcast the ITEAD-XXXX network? AFAICT this script requires us to be n that network.

[2017-07-09 22:20] StSimmons commented on #11
So, I worked out that I could do this using `--legacy` and doing the old DNS redirects.

I successfully got the `Espressif2Arduino` flash working.

I then tried to use the Sonoff-Tasinoda (built locally using PlatformIO and the `sonoff-touch-4ch` config). I hosted it at http://192.168.1.1/sonoff.bin, I saw the sonoff try to download it (by watching the HTTP server logs). Sadly, it no longer boots.

[2017-07-10 01:36] khcnz commented on #11
Any chance you also had a serial console hooked up at time of flash? or can hook up a serial console now?

[2017-07-10 19:59] khcnz commented on #11
I think i know what may be wrong - i was testing a slightly different configuration and noticed that sometimes the buffer downloading the new images doesn't fill up - and when it doesn't fill up in multiples of 4 bytes bad things happen (the flash doesn't write correctly). I have a fix in the works but for now you will have to flash it with serial cable sorry.

[2017-07-10 20:04] StSimmons commented on #11
Is this a bug in the Espressif2Arduino firmware? Or something else?

[2017-07-10 20:15] khcnz commented on #11
Yes in E2A

[2017-07-11 02:52] khcnz opened #12 "Client provisioning timesout on windwos"
When running on windows the POST timeouts.

I think it relates to the newline \r\n in the JSON from dumps causing problems with parsing on the sonoff end. Additional research to follow - but adding this ticket for anyone else that encounters the same issue.

[2017-07-15 00:00] wirephoto commented on #10
@mirko thanks for everything you have done to put this together. This will be an incredible boon to everyone working on DIY home automation.

@mihalski I would be very grateful if you followed through with the docker idea--I've never used docker before, but it looks well-documented. I have successfully flashed S20s via ftdi before, but right now I have a pile of six S20s and 2 Touchs that need to

[2017-07-15 11:31] mihalski commented on #10
I hope to get the chance to work on the docker in a few days. I tried to get started on it but I am also new to docker and frankly creating a command line Arduino build environment inside a container is a lot harder than I anticipated.

Hopefully I'll be able to pull it off. I could easily just provide the firmware files to upload along with a modified sonota script, but that wouldn't be as transp

[2017-07-15 20:47] spokkie2015 opened #13 "Syntax Error"
I'm receiving the following error:

Barends-MacBook-Pro:~ Barend$ sudo python sonota.py
  File "sonota.py", line 397
    print(".", end="", flush=True)
                  ^
SyntaxError: invalid syntax

When I try to run the script

[2017-07-16 20:37] wirephoto commented on #10
I get that the ideal is a transparent setup that can be audited for security, but the truth is, the default firmware installed on the Sonoffs is sketchy enough security-wise (especially since it phones home) that a precompiled alternative is probably safer for most of us, and certainly more convenient.

[2017-07-17 07:16] mihalski commented on #10
OK. If anyone involved wants me to take this down I will do so immediately.

Here's is the simplest way to get the latest version of Tasmota onto your sonoff.
1. Download, extract, and cd into sonata directory.
2. Set up a Wifi network with the default SSID/password in the Tasmota firmware (i.e. indebuurt1/VnsqrtnrsddbrN). This is the network the default firmware will join. you can then change the

[2017-07-17 09:19] cputoaster commented on #10
Thanks a lot! I tried it with a new TH10, and am somehow stuck.

1) unzip works (macos). After this step, I have the sonota.py script but empty ssl / static directories
2) created the indebuurt1 wifi as a hotspot on my phone. Also joined my PC to it.
3) plugged it into mains
4) run sonota (see below)
5) hold button until it flashes quickly
6) join ITEAD wifi with my PC -> sonota does the GET / POS

[2017-07-17 09:23] mihalski commented on #10
Your IP address can't be "."

Try this from a terminal:
[code]
For me the address is 192.168.1.41

That's the machine I am running this from and the IP address the Sonoff needs to download the firmware from.

[2017-07-17 09:28] cputoaster commented on #10
thanks! That got me one step further, now there is an error about the cert not being there. I can create it naturally, but was that not the point of the zip file, to have everything included? How about the flash binaries?

[2017-07-17 09:28] mihalski commented on #10
Umm.. isn't all that in there? Sec.

[2017-07-17 09:31] cputoaster commented on #13
This probably because you are not using python3 but python2

[2017-07-17 09:44] cputoaster commented on #10
thanks, now I get it to here:
[code]

with

[code]

[2017-07-17 09:45] mihalski commented on #10
Has the device connected to your wifi access point? That's a prerequisite for it to continue to the next step.

[2017-07-17 09:49] cputoaster commented on #10
I dont really know. In point 7) you say to connect to indebuurt1, which I did with the PC, but nmap does not show me any device on port 80 on the network. Or should I be connecting to my real wifi, "cputoasters"?

[2017-07-17 09:51] mihalski commented on #10
Can you not set your wifi access point to have a secondary SSID on the same subnet? That would be the easiest solution.

[2017-07-17 09:55] cputoaster commented on #10
I guess there is no difference if I just have my phone do a hotspot, no? I cannot change the main wifi easily and using guest access (to have a different SSID) would give me another subnet anyway.

[2017-07-17 10:02] spokkie2015 commented on #13
Will update and try again, thank you.

[2017-07-17 10:09] cputoaster commented on #10
btw, when switching to the real wifi instead of indebuur1, I can see the device ip and an open port 80, but connecting with a browser does not do anything. Also, it does not seem to want to connect to the sonota web server (with the address of the real wifi of the PC as the serve_host)

[code]

[2017-07-17 10:11] mihalski commented on #10
No, your machine must be accessible to the sonoff from the network it joins or it will fail.

Delete your default wifi network so that it doesn't auto join that (you can put it back later) and set indebuur1 as your default so you go straight back to it after provisioning.

[2017-07-17 10:14] mihalski commented on #10
You know I am now so confused that I'm not 100% sure I am telling you the correct information :/

I need to take a break to look back over how all this works before I continue..

[2017-07-17 10:46] mihalski commented on #10
Oh, and if you create and join the indebuur1 wifi network you need to use the SSID/password for that and the ip that you get assigned from that network when running sonota.py.

[2017-07-17 14:44] cputoaster commented on #10
I think the maddox image is fine, it should use the config params that were set with the first POST call. But somehow the device is not calling back to the web server to get anything. What did you compile into the binaries as URL_ROM_2?

[2017-07-17 15:00] cputoaster commented on #10
btw, its a TH10, but I think its the same tasmota image.

[2017-07-17 22:27] mihalski commented on #10
Firstly, like I said at the very beginning and a few times since: this this is only known to work with the Sonoff Basic and DOES NOT work with the Sonoff Pow. If anything the Sonoff TH10 is more like the Pow than the Basic.

And secondly, the Maddox image is the same as the one provided in the Tasmota Github, just always the latest version. To my understanding both the images I have provided and t

[2017-07-18 07:24] cputoaster commented on #10
OK, thanks for the information. I tried compiling myself just to have the "custom" URL_ROM_2 to point to my PC ip address and now have a different problem that I dont think is related to the sonota script. Thank you for your help. I will for now wait for new developments and try again later.

[2017-07-20 16:36] spokkie2015 commented on #10
@mihalski , I followed you method on the basic and this is the output:

13066226-macair:sonota Barend$ python3 sonota.py --wifi-ssid indebuurt1 --wifi-password VnsqrtnrsddbrN 10.23.42.5
** No ip address of the ITEAD DHCP range (10.10.7.0/24) is assigned to any of your interfaces, which means you don't appear to be connected to the IEAD WiFi network.
** Please change into the ITEAD WiFi network (IT

[2017-07-20 18:39] spokkie2015 commented on #13
Php3 solved the issue, and I got the process going but seem to have bricked my basic, comment in 404 issue.

[2017-07-20 18:39] #13 closed

[2017-07-20 22:52] mihalski commented on #10
I would expect that it is now trying to join indebuurt1 with the password VnsqrtnrsddbrN.

I'm curious. How is it that the ip for the host you were running on was 10.23.42.5 and the URL's were http://192.168.8.81:8080/ota/Espressif2Arduino.ino-0x01000.bin and http://192.168.8.81:8080/ota/Espressif2Arduino.ino-0x81000.bin?

Doesn't seem to add up.

Here's my run:
[code]
My wifi network has multiple

[2017-07-21 06:27] spokkie2015 commented on #10
@mihalski thank you for the reply, my network also has multiple SSID's setup, I made one for indebuurt1 as to follow your instructions. As for the 10.23.42.5 that's on me as for I used the old command from the original post and did not edit the IP but the device still seems to have made the connection and pulled the OTA.

Turned them on again this morning and they just keep on flashing fast like t

[2017-07-22 05:15] tinstep opened #14 "config and setup questions."
Hi
Im a little stuck on the process to get this installed. Im hoping someone can review my work and let me know this is correct - the Sonoff is connecting to my access point but not getting the bin files - do i have to do ssl?

This is what i have done.

1. I have SonOTA downloaded and extracted and created directory called "static".
2. I have Espressif2Arduino downloaded and extracted.
3. I have

[2017-07-23 01:05] khcnz commented on #14
Looking pretty good - you also need to set URL 3 in Espressif2Arduino (either use the maddox url or custom build your own version - using 1M spiff 0K as per the tasmota instructiuons

From there it should download and reflash automatically to tasmota.

[2017-07-23 03:13] tinstep commented on #14
Thanks for the info, I have got a lot further!

1. Added the "http://sonoff.maddox.co.uk/tasmota/sonoff.bin" url to URL_QIO_ROM_3
2. I got some ssl errors, so i created the ssl directory and ran the ssl command from the "read me" and a bunch of things happened, the relay clicked twice and the green light stayed on solidly for a while.

I get an error on the command line saying it is looking for

[2017-07-23 03:20] khcnz commented on #14
Yes - either change the file name in the python script
upgrade_file_user1 = "image_user1-0x01000.bin"
upgrade_file_user2 = "image_user2-0x81000.bin"

or change the name of the build output to match the above. re-run and it should work

[2017-07-23 05:08] tinstep commented on #14
Great, got further  ...

now i get ...
cant see it on the network now either, may need to flash using serial - what are your thoughts ?
[code]

[2017-07-23 08:33] khcnz commented on #14
What are the 404 requests coming from 127.0.0.1 about? are these unrelated?

Does the device respond a button push?

[2017-07-23 23:43] tinstep commented on #14
Im not sure where the 127.0.0.1 entries are coming from, I had to stop an unrelated service on port 8080 for this to work and - Im now thinking that systemd restarted that service automatically and buggered everything?

no, the button does not work anymore.

[2017-07-24 04:41] khcnz commented on #14
It looks like something odd was requesting pages from your python script. This process is still a little fragile so best to do it with a device you can capture the serial output for (until you get the first one working)

[2017-07-24 15:54] jleroux61 commented on #11
I just received my sonoff 4ch. It has firmware v2.01. @StSimmons how did you connect to the device if the ssid is not broadcasting? For which command are you using the --legacy parameter?
I see videos on youtube where people see the ssid on their smart phone so I guess they stopped broadcasting in later releases.

[2017-07-25 00:47] wirephoto commented on #10
I finally got a computer and extra AP setup to try this out and unfortunately I had the same result as Spokkie. I was trying to flash an S20 (the itead with the outlet builtin), and everything looked good from the script, but the result is that the S20 flashes green quickly and does not connect to the network. Pressing the button does nothing.

Unfortunately the terminal output disappeared when I

[2017-07-25 01:30] mihalski commented on #10
I fully expect this script to at best not work and at work brick anything that is not a Sonoff Basic. Of course it SHOULDN'T be possible to brick the esp8266 but I have no experience recovering them from a bad flash. It would be necessary to do so via an FTDI and if that wasn't working from the outset then there is more to it than following the old FTDI flashing instructions to begin with.

[2017-07-25 01:32] khcnz commented on #10
I think I have found an issue with where E2A retrieves the wifi credentials from. Seems to be some difference when using SONOTA and when using the app. I was previously using a device for testing that had used the app at one point but i just got a fresh box of goodies that exhibits similar behaviour.

[2017-07-25 01:53] khcnz commented on #10
Definitely not possible to brick them - you can always flash them. Until this is out of BETA would suggest however making sure you do know how to solder :)

[2017-07-25 04:37] wirephoto commented on #10
I ended up flashing my S20s with FTDI. The one that had failed OTA initially did not flash, but I just kept trying, and eventually something reset--don't ask me what, I have no idea. But persistence paid off.

Another S20 in my pile wasn't so lucky. It flashed and grabs a DHCP lease on 3.3v, but gets no power when plugged into AC. Took me a while to figure out what was happening. Quality control o

[2017-07-25 12:22] mnigbur opened #15 "Sonoff RF does not connect to WLAN after flashing OTA"
So, i wanted to try the OTA flash for a new device, followed the instructions and everything worked like a charm, but the device can't connect to my wireless network. So i hooked it up to the FTDI and am getting this from the serial console:
(SSID and password are masked by purpose)

[code]

It won't boot into firmware download mode via serial as well, so I'm kinda stuck now.
Already tried to chan

[2017-07-25 12:23] mnigbur commented on #15
last output of the sonota.py:

[code]

[2017-07-26 07:03] jleroux61 opened #16 "SonOTA no longer working on new Sonoff devices"
I received my sonoff 4ch. It has firmware v2.01. I wanted to try the new OTA process but the device no longer broadcasts the ssid. This is kind of breaking this process. Do you believe there is a solution to overcome this or is the end of OTA programming?
Thanks

[2017-07-26 11:49] mnigbur commented on #15
Managed to put it into DFU Mode with shorting R21. Reflashed over serial and it's working fine. I'll try with another module later today.

[2017-07-29 09:07] mirko commented on #11
You could skip the provisioning vy SonOTA - e.g. if it doesn't create an AP named ITEAD-XXX - and do the initial provisioning via the ewlink app.

[2017-07-29 09:08] mirko commented on #16
Provisioning the device with the ewlink app and use SonOTA with `--skip-prov` for skipping provisioning.

[2017-07-29 09:08] #16 closed

[2017-08-03 22:08] tinstep commented on #14
Yes correct, it was a plug-in in chrome, I've gone through 2 sonoffs, both are the the same state I think I'll wait until someone does a YouTube video, or condenses the instructions to a tutorial, where I don't screw it up. Thanks for your help

[2017-08-09 02:48] fmaule opened #17 "Sonoff POW not reconnecting to webserver"
I've succesfully upgraded to Tasmota a stock wireless switch 10 minutes ago using SonOTA.
I plugged in a new sonoff POW, i can connect to the wifi network and the provisioning is being sent:

<< {
    "deviceid": "mydeviceid",
    "apikey": "myapikey",
    "accept": "post"
}

    "version": 4,
    "ssid": "myssid",
    "password": "mypassword",
    "serverName": "10.0.0.107",
    "port": 4223
}
<<

[2017-08-18 15:57] DerFetzer commented on #17
Same here.
@fusionfsn Did you find any solution yet?

[2017-08-23 10:40] sillyfrog commented on #14
It looks like it has not completed the first step. I have packaged everything up I have done so others can use it here: https://github.com/sillyfrog/SonOTA

This update changes things slightly so it will download the pre-built files straight from your computer (rather than the internet), and I have found it to work will with my devices (a Basic's and a Dual).

PS: I have just put in a PR for this

[2017-08-24 16:13] krtschmr opened #19 "Did this bricked my sonoff?"
i connected with ewelink and my sonoff was DHCP 192.168.1.221. control with ewelink was fine but i need programatical access.

i ran the script

![image](https://user-images.githubusercontent.com/13366714/29676086-3b3db336-8921-11e7-8f6f-227b873ba65c.png)

now i have no access to it anymore. won't connect into my wifi. the default wifi *indebuurt1* does indeed exist but nobody connects into aswell

[2017-08-25 16:43] fusionfsn commented on #17
Not really. I've just flashed tasmota soldering the connector.
I have tried some debug but i'm unable to get anything after the boot messages.

Honestly i don't even know if the original firmware is outputting something to the serial or not.
Other 3 brand new POWs are waiting to be flashed, if someone gives me some advice on how to debug via serial i'll be glad to post the results

[2017-08-26 22:17] sillyfrog commented on #19
It sounds like it has only completed the first step (there are a number of steps). I have tried to outline what needs to happen a bit further in my fork here: https://github.com/sillyfrog/SonOTA/

This also has pre-built binaries so you can just clone and run, and it should work for you.

[2017-08-27 00:37] krtschmr commented on #19
@sillyfrog i'll try yours via live-stick today. the windows thing kinda not working and very difficult with phyton. running linux via VM also not working due the IP stuff

[2017-08-27 05:07] sillyfrog commented on #19
Not that I have tested it, but it should work on Windows, and from the screen shot, it looks like you have all of the dependencies installed OK. I would be curious as to what was going wrong as Python is very cross platform.

[2017-08-30 09:57] sillyfrog commented on #17
Sounds similar to an issue here: https://github.com/sillyfrog/SonOTA/issues/1

I have a fork that has pre-built binary files, but it also works slightly differently in that your computer hosts all the binary files (rather than reaching to the public internet).

In theory you should be able to just download and run my fork, and update things. I would be curious if you have a similar issue to these

[2017-09-15 11:16] ageorgios commented on #11
What are the steps required if the device (the case is a Sonoff B1 Bulb) does not broadcast and ITEAD-* wifi? I provisioned it through ewlink app to my local wifi network. What next?

[2017-09-15 11:34] ageorgios opened #20 "Sonoff that does not advertise ITEAD- WiFi"
What is the procedure for sonoff devices (like B1) that do not advertise a WiFi SSID ITEAD-*?

One can use dnsspoof with a hosts file
`192.168.X.X eu-disp.coolkit.cc`

Can I use the SonOTA when the sonoff device is connected to my local network?
If so what is the command?

Thank you.

[2017-09-20 19:58] krokce commented on #11
On topic - just to confirm that I successfully flashed the "Sonoff Touch" (firmware version 1.6.2.) - smooth and easy. Thanks for the great job you guys!

[2017-09-21 02:58] sillyfrog commented on #20
If the DNS spoof works, you should be able to run sonota with the `--legacy` mode (so it's on the standard ports), and it should work in theory (but is untested).  If it does, if you have a chance to put a page up on the Wiki for others that would be great.

It may also need to skip the first step (as SonOTA won't be configuring it, you'll be using the EWeLink app to do that), so if you comment ou

[2017-09-21 08:47] ageorgios commented on #20
I am willing to test the procedure you said.

I will do:
1) comment line 624
2) dnsspoof -f hosts (hosts = 192.168.??? eu-disp.coolkit.cc)
3) python sonota.py --legacy

the dns redirect that should happen is the ip of the machine that runs SonOTA?

[2017-09-21 09:31] CoderBlue opened #21 "Getting `"error": 404` and FinalStage SSID Never Comes"
I'm using a sonoff basic. When I get to step #4, when I'm supposed to connect to FinalStage SSID, FinalStage never comes.  The firmware never seems to flash since I am able to continue to use the switch to turn on/off the outlet and I can repeat the first few steps starting the ITEAD server and connecting, etc.
Anybody have this problem and any suggestions ? Using the latest commit. Thanks.

[2017-09-21 16:50] donoo commented on #21
hi,

I too am not seeing the finalstag SSID. I m trying this on Window 10.

Sonoff Basic - Version 1.5.5
Python Version 3.5.4

**Logs below:**
`
D:\HomeAuto\SonOTA-master>python sonota.py
Select IP address of the WiFi interface:
    0: 192.168.1.13
    0: 192.168.1.4
Select IP address [0]: 1
WiFi SSID: Mad
WiFi Password: XXXXXXXX

Using the following configuration:
        Server IP Address: 192.1

[2017-09-21 22:45] sillyfrog commented on #20
Hmm, that’s not connecting at all. Are you able to run dnsspoof on your router.
I tried doing DNS spoofing some time ago and they only way I could make it work was to run the DHCP and DNS server on the router (which for me is a Linux bad anyway (from memory, I may have also been trying some arp spoofing as well).
If possible the ideal debug stage now is to do a tcpdump on both the host running Son

[2017-09-21 22:51] sillyfrog commented on #21
First thing to do is pull the latest from github. I had forgotten to push a fix for the display of IP addresses (which is there now).

But based on the above logs, the correct IP is selected.

I didn’t have this issue on my Sonoff Basic on v1.5.5, but worth trying with the ‘- -legacy’ option as the Sonoff is not connecting at all when it should be on the WiFi.

Another check worth trying is that t

[2017-09-22 07:08] ageorgios commented on #20
I used this method for DNS spoofing:
https://www.youtube.com/watch?v=_O_IeyQj2fA&t=94s

When I got time I will try the tcpdump. What should I check?

[2017-09-23 07:15] donoo commented on #21
Hi,

I tried with --legacy flag but still same results. One thing i noticed, when i used --legacy flag green light on sonoff stopped blinking after sometime and stayed on solid.

[2017-09-23 07:23] AlessandroEmm commented on #21
~~ Provisioning completed
Starting stage2...
** The IP address of <serve_host> (10.0.1.3) is not  assigned to any interface on this machine.
** Please change WiFi network to B and make sure 10.0.1.3 is being assigned to your WiFi interface.
** This application should be kept running and will wait until connected to the WiFi...
........~~ Starting web server (HTTP port: 8080, HTTPS port 8443)
~~ Wa

[2017-09-23 07:28] AlessandroEmm commented on #21
the 404 is probably the interesting bit here, any way I can help?

It's a Sonoff Dual built on 15. of March.

I'm on a Mac with Py 3.6.2.

What I did:
- connect to my regular network
- run the sonota.py, give it the IP/Interface from my regular Network.
- Enter SSID and PW
- Connect to the ITead network
- Wait...
- Eventually this is the output that i got.

[2017-09-23 12:18] andyfitter commented on #11
Any chance of a walkthrough of how you got the ‘touch’ working?

[2017-09-23 12:29] 08-15at commented on #21
same here, Sonoff Dual, python 3.6.2 Mac, image_user2-0x81000.bin seems to get loaded, but then
Final Stage never showing.

[code]

[2017-09-23 15:10] krokce commented on #11
@andyfitter Very much the same way it works for other Sonoffs. The only "not so ordinary" moment was the way Sonnof Touch behaved when putting it into pairing mode (when the switch starts to broadcast the ITEAD-### SSID). Namely after the first button press of 7 seconds the LED blink pattern was blink-blink-blink-**pause**-blink-blink-blink-**pause**, then you just press the touch button another 7

[2017-09-23 16:18] krokce commented on #11
@sillyfrog just want to confirm that this same method above worked for my Sonoff 4CH pro whcih started to advertise the ITEAD-### WiFi only after the second 7 second button press (same LED blinking pattern occurs). So you can put 4CH pro (original firmware version 2.0.1) on the list as confirmed to work with SonOTA - much more elegant way than soldering and grounding pin legs directly on the micro

[2017-09-23 17:30] fragolinux opened #22 "pip"
1st: very well done, all working flawlessly!

2nd: i followed the guide, installing the exact python version suggested, on windows: 3.5.0, adding it to path... then went in the folder where i uncompressed the zip of the repository, and running:
pip3 install --user -r requirements.txt

it gave error about something to be updated, and suggested pip... so i run this:
python -m pip install --upgrade p

[2017-09-23 19:41] donoo commented on #21
Hi ,

Tried multiple systems but sonoff never connects back. It connected couple of times but final stage ssid never showed up.

Not sure what's is wrong.

[2017-09-23 22:24] sillyfrog commented on #11
Thanks all. It looks like we have a working combo, so I'll close this for now. Please open again if needed. Cheers.

[2017-09-23 22:24] #11 closed

[2017-09-23 22:50] sillyfrog commented on #21
Thanks for the above, comparing the above to what I have on a Dual with the same firmware, I do not have this request come through:

[code]

So for some reason, yours is requesting an update to it's internal timers. To help narrow this down (and for others), did you ever set a timer in the EWeLink app before flashing?

As I have never seen this, I'm going to hazard a guess as to some possible fixe

[2017-09-23 22:53] sillyfrog commented on #22
To confirm, the install did not work until you upgraded `pip`? I have seen it give warnings before, but not actually stop (I have rarely use Windows, so want to double check).

I'll add it to the README if it's needed.

Thanks!

[2017-09-23 22:55] sillyfrog commented on #8
The current build now includes pre-built binaries so it should be a lot simpler to run. With that in mind, I'm closing this, please open a new ticket if you have any issues.

[2017-09-23 22:55] #8 closed

[2017-09-23 22:58] #10 closed

[2017-09-24 02:25] rajil commented on #20
I also did a dns spoof on B1 and was able to flash the device.
[code]

I connected to the FinalStage SSID, and it eventually disappeared. I can see on the router that the bulb has an arp entry with hostname ESP_xxxx, but it does not respond to ping. It seems to be dead.

Is there any way to revive this?

[2017-09-24 04:16] rajil commented on #20
I did not realise that B1 had changed into an AP, and was broadcasting the Sonoff SSID. I was able to connect to it and update to the latest Tasmotta. One litte issue i have is that it is not connecting to the primary WIFI, instead connecting to the secondary one. Otherwise B1 can be flashed by SonOTA!

[2017-09-24 04:32] sillyfrog commented on #20
Thanks @rajil  - I was just going to suggest that when you replied :)
I have put that on the wiki as well with a note about DNS spoofing. Was your DNS server on the same host as your DHCP and gateway? I had some weird issues when I was first messing with it, but all my Sonoff's are now flashed so I can't test again. Using `--no-prov' is of course the best thing to do rather than commenting lines o

[2017-09-24 04:34] rajil commented on #20
Yes, both DHCP and gateway are on a pfsense router.

[2017-09-24 06:22] fragolinux commented on #22
i uninstalled everything and redid the install... i used python-3.5.0-amd64-webinstall.exe, on 1st screen i choose to install it for every user and checked "add to path", then i went in the folder where was SonOTA and this is the full transcript of what happened, exactly as yesterday (i addedd the ### lines to divide the command i gave)... as you see, in last step, if i run your install command it

[2017-09-24 07:40] AlessandroEmm commented on #21
@sillyfrog Nope i never set a timer - and i tested one Sonoff Dual that has been setup through the app and one that has never been touched before.

Will try your changes - thanks!

[2017-09-24 07:56] AlessandroEmm commented on #21
I just tested it the behaviour didn't change much.

The only thing that happened to me this time was that after the 404 i had gotten this:

*** IMPORTANT! ***
** AFTER the first download is COMPLETE, with in a minute or so you should connect to the new SSID "FinalStage" to finish the process.
** ONLY disconnect when the new "FinalStage" SSID is visible as an available WiFi network.
This server sho

[2017-09-24 07:58] AlessandroEmm commented on #21
Btw - I noticed that line 171 is different on master branch - are you maybe working on some other branch? I had to change line 174 to implement your changes.

[2017-09-24 08:02] AlessandroEmm commented on #21
And here the most recent Full output

`...<< HTTP POST /dispatch/device

    "error": 0,
    "reason": "ok",
    "IP": "10.0.1.3",
    "port": 8443
}
2017-09-24 10:01:40,794 (INFO) 200 POST /dispatch/device (10.0.1.22) 1.47ms
2017-09-24 10:01:40,961 (INFO) 101 GET /api/ws (10.0.1.22) 0.47ms
2017-09-24 10:01:40,961 (DEBUG) << WEBSOCKET OPEN
2017-09-24 10:01:40,968 (DEBUG) << WEBSOCKET INPUT
2017-09

[2017-09-24 08:20] ageorgios commented on #20
I installed a new DNS server (dnsmasq) to make sure the DNS resolves ok.
I run
`sudo ./sonota.py --legacy --no-prov
`
but same happens!!
[code]
 What do I do wrong?

[2017-09-24 08:20] donoo commented on #21
Hi,

 for me it seems device is not able to connect back. as per the comment in the code

    # listening on HTTPS port to catch initial POST request to eu-disp.coolkit.cc
    app_ssl.listen(DEFAULT_PORT_HTTPS)

I think this request is not picked up or there is delay or this request is send out to quickly by device.

Any thing I can change in code so that I can make it connect to do stage 2 stuff.

[2017-09-24 12:08] donoo commented on #21
Hello ,
I was finally able to free my sonoff. I used Personal HotSpot to do this. Seems my Home Router was messing up something. Also , I changed params :[]. But I m not sure if this had any effect.

Here is the full log of my run:

`

D:\HomeAuto\SonOTA-master>python sonota.py
Select IP address of the WiFi interface:
    0: 192.168.137.254
Select IP address [0]: 0
WiFi SSID: MAD
WiFi Password: XX

[2017-09-24 13:38] kryten01 commented on #21
Hi all.  Getting the same 404 error on the second image here on an S20 straight out of the box:

[code]

Tried the personal hotspot trick above but it didn't work for me - still got the same 404 error.   Sonota.py is definitely serving this image ok as I was able to d/l it from a browser, so not sure why the 404 response.  Will check I've got the latest commit and try the params tweak shortly.

[2017-09-24 14:00] donoo commented on #21
@sillyfrog will this work for Sonoff RF Bridge 433 too?
I m going to try this next. And thanks for this amazing tool.

[2017-09-24 14:38] rajil commented on #20
@sillyfrog, I can also also confirm that BN-SZ01 also works. The instructions were the same as B1. Start pairing with eWeLink and then computer takes over,
[code]

[2017-09-24 16:14] kryten01 commented on #21
The params tweaks didn't work for me either, but interestingly a wireshark packet capture shows that the image seems to be downloaded correctly:

[code]

Oddly, the http response appears when you follow the tcp stream in wireshark, but not the http stream.  In a normal transaction the response will be visible in the http stream.  I guess this means that the response is being sent, but it isn't rec

[2017-09-24 18:35] AlessandroEmm commented on #21
@donoo Am I assuming right that you arent using a Sonoff Dual?

[2017-09-24 18:39] donoo commented on #21
@AlessandroEmm No, I did successful run on sonoff basic ,version 1.5.5

[2017-09-24 21:02] AlessandroEmm commented on #21
Then, I guess we have the difference, the duals are behaving differently.

[2017-09-25 13:15] kryten01 commented on #21
Tried replacing tornado.web.StaticFileHandler with the otherwise unused OTAUpdate function to get more debug output.

Note the following:

tornado.httputil.HTTPOutputError: Tried to write 42064 bytes less than Content-Length
2017-09-25 22:19:15,675 (ERROR) Cannot send error response after headers written

That figure of 42064 bytes less than the Content-Length header value seems to be consistent.

[2017-09-25 14:20] 08-15at commented on #21
@kryton good point, 196608 = 192KBytes, so maybe some buffer size/limit issue ?

[2017-09-25 16:12] kryten01 commented on #21
@08-15at  could be something like that.

I managed to get past that stage by running sonota.py on a raspberry pi with USB wireless.  So if anyone is having this 404 / http output error problem and you are running on windows, try using Linux instead.

I have a different issue now - something screwed up at the final stage and sonota.py quit before completing the final d/l.  I connected but didn't ge

[2017-09-25 17:13] AlessandroEmm commented on #21
@kryten01 did you try to set the IP manually?

[2017-09-26 05:31] rajil opened #23 "Ailight"
Is it possible to flash the Ailight with this method?

[2017-09-26 05:48] sillyfrog commented on #21
@kryten01 : If you are getting the FinalStage SSID coming up, then I'm 99% sure the flash is fine. If you run it with `--no-prov --no-check-ip`, that should allow it to go to stage3, so when you connect to the FinalStage SSID, things should just work (it can take a minute or two). I have not tested this, but a quick manual inspection suggests it should be OK.

And that `tornado.httputil.HTTPOutput

[2017-09-26 05:55] sillyfrog commented on #20
@ageorgios, my only suggestion is to use the Pi as your DHCP server and gateway as well as @rajil did. I had something similar (from memory, so not 100% sure), were that was the only way I could inspect the traffic. I ended up setting up a spare WiFi AP I had just so I could get inline to mess with the traffic when doing the initial reverse engineering (before finding this project).

[2017-09-26 05:55] sillyfrog commented on #20
@rajil Thanks for the update, I have put that on the Wiki as well!

[2017-09-26 05:57] sillyfrog commented on #22
That is worth doing looking at that error (not getting the wheel), I'll update the readme now.

Cheers!

[2017-09-26 05:57] #22 closed

[2017-09-26 06:00] sillyfrog commented on #23
It's not something I have ever looked at, but maybe someone else can answer if they have tried.

[2017-09-26 12:07] kryten01 commented on #21
@AlessandroEmm I had settings for each of the wireless SSIDs in wpa_supplicant.conf ready to go and just switched between them with wpa_cli select_network x.  For some reason I didn't connect properly to FinalStage the first time and by the time I discovered this and stuffed around trying to fix it, sonota.py had quit.

@sillyfrog -Thanks I tried the --no-prov --no-check-ip args but no luck.  It l

[2017-09-26 15:49] 08-15at commented on #21
@kryton01, @sillyfrog I got he 404 error on OS X, so doesn't seem to be an Windows only issue.
Haven't tested with using StaticFileHandler to see if I get the same last chunk error, yet.

@sillyfrog  btw. just noticed, that the device should switch relay before going to upgrade. Should this happen on he dual as well, as I can't see which relay it should switch? Switching never happened here, so I

[2017-09-26 17:05] AlessandroEmm commented on #21
I tested it and i get the same error. I briefly looked into tornados staticfileserving code, but nothing looked like it was specific to the OS as far as i can tell.

[2017-09-26 18:41] LarsNorgaard commented on #21
For me the FinalStage SSID is set to public when I connect to it. Changing it to a private network under properties allows me to flash the finalstage bin.

[2017-09-27 09:49] hutchwilco opened #24 "Stuck in FinalStage - Sonoff TH16, MacOS"
Stuck in FinalStage AP mode currently.
By my reading there are no glaring errors - see output below. Any advice? Cycling power returns to FInalStage, button appears to do nothing, I don't seem to have an OTA recovery option - serial it is then? Or can I step through the script to pickup at FinalStage again?
How long should I expect the flashing to take place during FinalStage? I think I gave it a

[2017-09-27 13:04] kryten01 commented on #21
Keeping this in the same thread because failures when downloading the finalstage image seems to have the same underlying problem.

Using the OTAUpdate function again, I get this output when running the final stage:
[code]
Capturing this with tcpdump and replaying in wireshark:

[code]
Content length: = 485760
485760 - 420224 = 65536 = 64K

So tornado appears to be sending 64K and then dies with th

[2017-09-27 15:56] 08-15at commented on #21
@kryton01 can't imagine that a 512K chunk size could work with the esp

Right now I am considering, if it may have to do something with wrong formats/checksums or timeouts.
In my case it looks like the device somehow does reset after getting upgrade command and then just asks for timer.
Similar in your case, it just stops reading after first chunk.

Maybe I'm way off with my speculation as I haven

[2017-09-27 19:56] khcnz commented on #21
DOUT does work - you can compile Espressif2Arduino and/or tasmota with DOUT.

If something is failing with the flash, you need to get the serial output from the device, E2A prints a lot of debug information to the console while trying to flash. I don't think changing the chunk size will make a difference, the file is buffered into 1024byte chunks.

[2017-09-27 22:08] sillyfrog commented on #21
I’m away for a little bit, but have realized that I have not pushed the actual .ino files I built (there are the ones referenced in the readme), I’ll do this when I can for reference.
To triple check, this is on more than just Windows? I have done a number of different devices (from Mac) and not seen this, trying to figure out a common thread.

[2017-09-27 22:24] Codythejack commented on #10
I spent  a lot of time trying to flash my sonoff with ftdi. I think so have device which is difficult to flash this way. There is some topic about problem with new devices. So tried flash my device ota.
I set my temportal AP with indebuurt1/VnsqrtnrsddbrN and ip addressing 10.10.7.0/24.
and run:
./sonota.py --wifi-ssid indebuurt1 --wifi-password VnsqrtnrsddbrN 10.10.7.3

<< {
    "apikey": "cfddc5

[2017-09-27 23:28] 08-15at commented on #21
@sillyfrog, happens on Mac OS X 10.x with python 3.6.2, too.
Have tried with different routers including above mentioned personal hotspot method.
I've been using the binaries from your repository, didn't built them myself. Don't hurry, as I've flashed quite some units using the HW-method, just found this a much nicer way and would really like to use it in the future.

[2017-09-28 06:11] sillyfrog commented on #21
I have now committed my changes to Espressif2Arduino for those that wanted to mess with it and put up a readme at: https://github.com/mirko/SonOTA/tree/master/static

I think this is everything that you should need to rebuild the binary files - I wish I knew what has happening as well as so far I have done Basics, Duals and the TH's without issue. I'm open to PR's and happy to throw around any ide

[2017-09-28 09:48] sillyfrog commented on #21
@AlessandroEmm I'm on OS X 10.12.6, Python 3.5.2 is what I have been running for the updates.

I have had it take a while from several devices connecting to the ITEAD, but it always eventually got there (should be nothing special aside from the default password).

[2017-09-28 11:23] andyfitter commented on #21
I'm on High Sierra 10.13 and Python 3.6.2 and seeing similar problems with a Sonoff Dual. This is the only host platform I've tried so far though. Might give it a go on a Pi later and report back.

[2017-09-28 13:06] iMarkus opened #25 "Sonoff 4CH Pro"
I see in the wiki 4CH is compatible. Is 4CH Pro also working?

https://github.com/mirko/SonOTA/wiki

[2017-09-28 13:23] iMarkus commented on #9
Hi,

I had the same problem. After installing the newest Python version 3.6.2 it worked for Mac OS High Sierra!

Cheers

[2017-09-28 14:27] kryten01 commented on #21
@sillyfrog I've attached the relevant TCP stream in a zipped .pcap file here:
[packet-capture.zip](https://github.com/mirko/SonOTA/files/1341221/packet-capture.zip)

No FIN or RST from the sonoff.  It just disappears off the network and eventually I see some ARP broadcasts from the pi looking for 192.161.4.1.

I also tried serving /ota/image_arduino.bin from apache and got exactly the same result.

[2017-09-28 20:04] AlessandroEmm commented on #21
I have given up for now and made use of my soldering iron.

@iMarkus i've been on 3.6.2 all the time.

@kryten01 it's interesting that you made it past the first 404 sounds like a timing issue, race-condition...

[2017-09-29 14:26] apathyuk opened #26 "Flashing a Sonoff T1 and questions on the process"
Hello

I am trying to flash a Sonoff T1 and getting stuck.

Am I right in thinking the process is as follows:

1) Connect PC to HOMENET
2) Run script and answer 3 questions (local IP and HOMENET creditials)
3) Put Sonoff in WiFi AP mode and connect to ITEAD wifi AP
4) Script configs the Sonoff with the OTA settings including connecting to HOMENET
5) PC needs to reconnect to the HOMENET but this ti

[2017-09-29 16:39] czyz commented on #21
I'm on OS X 10.12.5, running a copy of SonOTA-master downloaded as a zip today, and running it using Python 3.6.2 (also downloaded and installed today). I'm running into the same issue with the FinalStage SSID never showing up. The 404 error that appears in the debug output and is described by others above looks like a possible culprit. I've attached the debug output below just in case it's of use

[2017-09-29 17:00] andyfitter commented on #21
I've now tried both on a 'normal' wifi network and also setting my Mac up as an AP via Wifi Internet sharing. Also tried both a Sonoff Dual and two UK Sonoff T1's. All give me the same result, the above mentioned '404'. Mac High Sierra, Python 3.6.2. Previously, I did manage to successfully Reflash a Sonoff Touch.

[2017-09-29 22:02] czyz commented on #21
Since kryten01 reported managing to get the Sonoff programmed OTA on a raspberry pi, I gave that a try. I had a raspberry pi model B and a USB wifi dongle handy. I installed python 3.6.2 and the requirements on it and gave it a whirl. It appears to run into the same exact 404 error at the same point in the process. The Sonoff s20_us never ends up creating a 'FinalStage' SSID.

For what it's worth,

[2017-09-29 22:29] czyz commented on #21
Did a some further digging. It seems that part of the process did work -- the s20 is sitting there on my network, connected via wifi, and has an IP address of 10.0.1.148. I tried connecting to it using the 'Simple Websocket Client' chrome extension at /api/ws, but had no luck.

The s20 no longer creates an ITEAD-* wifi network (though it will if I hold down its button for 7 seconds).

I tried runn

[2017-09-30 00:25] sillyfrog commented on #21
@czyz re the 404, this is a response coming from the Sonoff via the Websocket connection, not an actual 404. My best guess is it’s something to do with the “timers” request as that’s something I don’t see when I flash mine (no idea why, but I’m pretty sure that’s the cause). Another idea I have had is the try making the response to the timers call a no-op (ie: just a ‘pass’ in the code). I have ne

[2017-09-30 00:41] sillyfrog commented on #25
I’m not sure if that has been tried, it’s not something I have myself, but worth giving it a try (worst case it’s just a manual flash anyway) and if it works we can update the Wiki :)

Cheers.

[2017-09-30 09:36] apathyuk commented on #26
I'll give it a try and let you know.

For your second point, why not add a parameter which defines what binary to use (local/remote)?

[2017-09-30 19:55] czyz commented on #21
Hmm, regarding "timers", for what it's worth, I've never run the EWeLink app. The first time I plugged in the s20_us was to flash it using SonOTA.

[2017-09-30 20:07] 08-15at commented on #21
@czyz first I tried SonOta on a device fresh out of the box as well.  So I initially thought, not registering via Ewelink could cause the problem. Unfortunately using Ewelink before SonOta doesn't help.

[2017-10-01 10:35] zobelhelas commented on #17
I ran into the same issue. I found out, that i need to upgrade to the latest Sonoff upstream firmware first, connecting to their cloud and upgrading via cell phone app. Afterwards, using SonOTA worked like a charm.

[2017-10-01 21:46] apathyuk commented on #24
I got further with my T1 but now its stuck in Final Stage.   Is there a way to tell the script to pick off at that point?

[2017-10-02 01:44] czyz commented on #21
So I guess maybe that means sonoff devices are now shipping with a newer version of firmware that requires timers be set? If so, I found some syntax for setting them up on [this page](https://blog.ipsumdomus.com/sonoff-switch-complete-hack-without-firmware-upgrade-1b2d6632c01).

The relevant portion seems to be:

So maybe we insert a timer configured to 'enabled: false' and it'll let us continue o

[2017-10-02 13:20] andyfitter commented on #21
What I don't understand is that it seems that things have 'just suddenly' stopped working for lots of people. I find it hard to be believe that new firmware has made its way through the supply chain and hit all of us at this point.

A suggestion. At the point that the device connects to your 'real' Wifi, could it be making a request to some other external server and the response it gets is changin

[2017-10-02 13:54] gdgeist commented on #21
Piling on - two brand new SONOFF BASICS - no Final Stage SSID....attempted from Debian, Win 10, OSX  - all three same results and symptoms as above.

[2017-10-02 15:10] czyz commented on #21
I'm assuming the new firmware is from the factory and is thus only hitting those of us with newly-purchased Sonoff devices. Mine were purchased from Banggood in late August.

[2017-10-02 15:14] andyfitter commented on #21
I guess there's probably still old stock coming through too, but as they don't have any issues and it Flashes with no problems, and we never hear of them via this thread. It's only the ones that have problems that end up here. Have the firmware version numbers changed, or is it something they've slipped in without updating the version?

[2017-10-02 15:30] donoo commented on #21
Hello ,
I was able to flash my sonoff. I used my mobile phone Personal HotSpot to do this. When i used my Home Router, sonoff was not connecting and when it did couple of times, I was not able to see final stage ssid.

When i flashed my sonoff basic using my mobile phone hot spot I was able to flash it. After that i flashed another one using hotspot in single run.  , I also changed params :[]. But

[2017-10-02 15:43] czyz commented on #21
Hmm, unfortunately I can't make my phone a hotspot since my AT&T plan doesn't support "tethering" and if I were to enable that switch they'd switch me to a more expensive plan and I'd lose my grandfathered-in unlimited data. But I suspect that's not the problem I'm running into. My sonoff is connecting to my home network just fine, so the first part of the script is working with it, it's just that

[2017-10-02 15:50] thefathefa commented on #21
I'm the exact same as @czyz : My Sonoff POW received one week ago connects to my home network fine, works fine with the ewelink app and when I try SonOTA, the first part of the script works fine as well. I am stuck not getting the FinalSSID...

Sonoff POW current version (after upgrade via ewelink) : 2.0.4
I think it was at version 2.0.2 when I unpacked it...

[2017-10-02 16:08] thefathefa commented on #21
And just in case there would be some useful information in my traces, here are they are. I tried this case using my phone as AP since some people said it helped, but I have the same when I connect to my home router.

`root@Surface4:~/SonOTA# ./sonota.py
Select IP address of the WiFi interface:
    0: 192.168.43.11
    1: 169.254.56.245
    2: 169.254.178.203
Select IP address [0]: 0
WiFi SSID: xxx

[2017-10-02 19:45] andyfitter commented on #21
I just tried with both my phone as an AP and also a MiFi device too, still the same 404. Should we trying to collect/correlate firmware version numbers?

[2017-10-02 20:47] czyz commented on #21
I'm not sure where to grab the firmware version number. From the output of SonOTA I'd posted, I see these possibly-relevant lines:

[code]

as well as

[code]

So I guess I'm running version 1.5.2. Not sure what ""version": 2," means.

[2017-10-03 01:29] fmaule commented on #17
thanks for the hint.
how do you exactly use SonOTA after you connect the sonoff through the app?
I've also tried that but can't get the sonoff in AP mode afterwards therefore i can't send the provision

[2017-10-03 03:32] sillyfrog commented on #17
Pressing the button for 7 seconds should get you into AP mode again (sometimes you need to hold it for a 2nd time for 7 seconds), and you should be able to flash using SonOTA.

[2017-10-03 03:44] sillyfrog commented on #21
See here for known firmware numbers that work: https://github.com/mirko/SonOTA/wiki

It's important to note that the latest firmware version is different depending on the device (ie: v1.5.5 maybe the latest on the Basic, but it's v1.1.0 on the Dual - when I have tested I tried with the shipped version and the latest version at the time).

Unfortunately that does not appear to be the problem as I h

[2017-10-03 03:48] sillyfrog commented on #24
@apathyuk When I get a chance I'll make it easier to select which stage to start at. At the moment you can use `--no-prov` and that'll get you to stage 2, and (in theory) when you connect to "FinalStage", it should move to stage 3 (the FinalStage). Especially if running on Windows, it's important to ensure that your Firwall is turned off during this process as inbound connections will be blocked o

[2017-10-03 03:52] sillyfrog commented on #26
The "FinalStage" image has a pre-built binary, this has hard coded in it the URL to get stuff from (and with this build it also turns it into an AP rather than a client). It would technically be possible to write to an unused portion of Flash, and hope it's still there after a reboot etc, but the extra complexity is not something I wanted to invest my time in as it would make the image larger, and

[2017-10-03 03:52] #26 closed

[2017-10-03 06:39] iMarkus commented on #25
As soon as I receive mine I will give it a try. So far thanks for the great work!

Regards

[2017-10-03 09:10] andyfitter commented on #21
I’ve got a Sonoff dual and two Sonoff T1’s that are all failing in the same way. I’ve not touched python before but if I get some spare time today I may have a dig around an£ see if I can help.

[2017-10-03 09:33] davorf commented on #21
Hello!

Last night I've tried Sonoff basic switch, but encountered the same problem (error 404, FinalStage AP never shows up). I've used Python 3.6.2 on Windows 10, and tried with, both router and mobile AP connection, but without success. I haven't checked firmware version on a device, but I'm going to try to update it via EWeLink app and see if that helps. I also have 3 Sonoff touch devices, and

[2017-10-03 12:26] andyfitter commented on #21
Regarding the previous comment "If something is failing with the flash, you need to get the serial output from the device, E2A prints a lot of debug information to the console while trying to flash.". If I were to get a device thats failing, and attach the 4 pins to my Serial/USB adaptor, as if I were doing a normal 'hardware' flash, and view the output via a terminal, would I get the expected deb

[2017-10-03 14:08] andyfitter commented on #21
Hmmm. Connected a serial port but not seeing anything of any value. Set the recommended parameters but see garbage at best. I still wonder if this is relevant. https://github.com/arendst/Sonoff-Tasmota/issues/639 Lots of people are saying that they cant 'hardware' Flash newer devices either, as we talked about higher up in this thread as the Flash mode of newer devices is different.

[2017-10-03 14:45] czyz commented on #21
The relevant portion of that page seems to be:

Maybe that's it? Now to find out what "DOUT" is…

[2017-10-03 15:24] thefathefa commented on #21
@czyz : if i'm not mistaken, we should already have access to DOUT flashing mode with the package we are using. See this here : https://github.com/arendst/Sonoff-Tasmota/issues/598
@sillyfrog, do you confirm?

[2017-10-03 15:55] andyfitter commented on #21
Further to my serial port explorations earlier, I think I'm seeing the 4 byte pattern outlined here http://support.iteadstudio.com/support/discussions/topics/11000006870/page/1?url_locale= when I press the button, however, that is all I ever see, no visible/readable text at any other time. Do I need to issue some command to make it send more debug info?

[2017-10-03 18:16] andyfitter commented on #21
Digging around inside the source of ExpressIf2Arduino it seems to only know about QIO and DIO Flash modes, and not DOUT. Could this be our problem? Even if the final target Image is built with DOUT, if the intermediate images are not, I'm guessing it might fail?

[2017-10-04 03:00] khcnz commented on #21
Yes - this is possible - I have tested this approach - in a local branch I have actually removed the QUI/DIO code that decides what the URL is and always uses DIO

[2017-10-04 03:23] sillyfrog commented on #21
I'm still not sure if this is 1 or 2 issues (ie: the 404 and not doing the full download), but it does look likely related (I have updated the issue title to reflect the 404).

I have included notes as to how I did the binary build (I used QIO) committed at: https://github.com/mirko/SonOTA/tree/master/static . This also links to the source of what I have built, you'll notice that although they are

[2017-10-04 08:36] khcnz commented on #21
Well the problem is that the Espressif upgrade loader may be reading the first few bytes in that first package, realizes the flash mode bit is wrong and giving up. Would definitely recommend removing the code that tries to determine the flash mode and url (or setting both urls to the same) and send it an E2A build built using DOUT.

[2017-10-04 09:03] andyfitter commented on #21
RE: The 'timers' query from the device, we were discussing previously. I wonder if this is a false lead... This link http://blog.nanl.de/2017/05/sonota-flashing-itead-sonoff-devices-via-original-ota-mechanism/ seems to imply that replying with an empty params list (as we do) is a valid response?

[2017-10-04 09:25] sillyfrog commented on #21
I had missed the `GET /ota/image_user2-0x81000.bin` line, and I agree - totally worth giving a go with the DIO mode. I'll see if I can build something and upload in a branch for someone to test.

[2017-10-04 09:45] sillyfrog commented on #21
I have done this (built it using `DIO` rather than `QIO`), and unfortunately it creates an identical `.elf` file (which is what `esptool.py` takes), so the resulting `.bin` file from `esptool.py` is the same :(

(The `.bin` file that Arduino makes is different, but not really of any value here).

[2017-10-04 10:36] thefathefa commented on #21
@sillyfrog I'm not in Australia but I am willing to support. Please reach out via email and we'll find a way. My email is githubusername @ gmail.

[2017-10-04 12:16] 08-15at commented on #21
@sillyfrog did you add --flash_mode=dout to esptool.py, and does this result in different binaries ?
cannot try now, as I'm not at home

[2017-10-04 15:11] czyz commented on #21
I'm not in Australia but could mail that s20_us in that general direction. Though I suspect y'all might figure out the issue before it'd arrive.

[2017-10-04 21:33] sillyfrog commented on #21
@thefathefa @czyz  Thanks! I'll drop you a note if there is no one is Aus.

@08-15at Duh! I didn't look at the help for the command - thanks! I have now pushed a branch (DIO-mode) that has both `image_user*` files generated with `DIO` mode. If someone can please let me know if this works or not. The `image_arduino.bin` image is still the same, built with `DOUT` in the Arduino IDE.

Annoyingly I ha

[2017-10-04 21:36] andyfitter commented on #21
Shouldn’t we be aiming for DOUT mode not DIO?

[2017-10-04 21:50] sillyfrog commented on #21
@andyfitter Maybe? I have not yet taken the time to properly understand this and the implications during the upgrade phase. Given it works for Sonoff-Tasmota (I think, there is discussion that it may not for the newer hardware), it's worth a shot for sure. So with that in mind, I have just pushed another branch `DOUT-mode`.

If someone having this issue can try the `DOUT-mode` branch first, becaus

[2017-10-04 22:47] andyfitter commented on #21
I’ll give the DOUT branch a try in the morning.  I’m in the UK so will be about 12 hours. Fingers crossed!

[2017-10-05 08:34] quikote commented on #21
IT WORKS !!!!
:-)
I also had the "404 error" and no FinalStage SSID, but now I have flashed the new DOUT branch and it runs smoth as always.
So you have solve the problem. Thanks again!
The tested device was a new sonoff basic, arrived yesterday from amazon. Never paired with the app. Sorry, no information about the firmware version shipped.

[2017-10-05 08:44] sillyfrog commented on #21
@quikote Great news! If you still have the output on screen, it's the "romVersion" is the version of the software. If this goes well for a couple of others I'll make this master. Cheers.

[2017-10-05 08:45] quikote commented on #21
romversion : 1.5.5

[2017-10-05 09:01] hutchwilco commented on #24
@sillyfrog thanks yes, I figured the download was fine. A full power cycle just left the sonoff creating the FinalStage SSID. Of course the server script had completed and there was no way (that I knew) to start the server at the FinalStage part of the script again.
In the end I flashed it via serial, will try again for the next hardware.

[2017-10-05 09:37] sillyfrog commented on #24
@hutchwilco Let me know how you go - I think what happened (and this appears to be very rare!), the active image has in the "user2" space (ie: the second half of the flash). The idea is it should have downloaded user1 (which it did), then it would be in FinalStage mode, and and get user2 (which it also did).

The issue then is the script saw that FinalStage had gone away, so it exited (and there i

[2017-10-05 09:37] #24 closed

[2017-10-05 11:02] davorf commented on #21
@sillyfrog Since I've had the same problem, I'll try it tonight and report the results.

Best regards,
Davor

[2017-10-05 11:49] thefathefa commented on #21
I have tried the DOUT version and it did not improve for me.

Note that I don't have the 404 symptom : I am stuck at the exact same point as @donoo in the second post of this thread.
I tried using my phone's AP since it seems it unblocked @donoo but no luck.
I have a Sonoff POW version 2.0.4.

Not sure what to do next...

[2017-10-05 15:54] czyz commented on #21
I tried the DOUT version –no luck. I still see the 404 error.  I've attached the output of a flashing attempt.

[test_sonota_dout_mode.txt](https://github.com/mirko/SonOTA/files/1360016/test_sonota_dout_mode.txt)

[2017-10-05 17:33] calcipher49 opened #27 "Backup original firmware"
Hi all
Great job for SonOTA project.
Is it possible using SonOTA to backup original frimware before flashing it?

Thank you

[2017-10-05 19:10] davorf commented on #21
Hello!

I've tried DOUT branch (with and without legacy flag) and still getting error 404 and no FinalStage AP. I've tried it on Sonoff Basic and Sonoff Touch, but results are the same.

Best regards,
Davor

[2017-10-05 19:25] tocklime opened #28 "Also stuck in FinalStage"
Output of my run(s) here:
https://gist.github.com/tocklime/6d33a4f9d4a5acbd7e9c0a2e081544af

I'm stuck in a place where the FinalStage SSID is visible, But nothing seems to happen when I connect to it.

I'm guessing the problem is that my home IP network is on 192.168.4.0, and FinalStage wants to use that too.

But if it's got enough of a firmware on there to host the Finalstage network, and my PC

[2017-10-05 20:45] sillyfrog commented on #21
@czyz @davorf  Looking at that output - it does look like the same 404 (I think - the timing makes it hard to be sure) - did you also try the `DIO-mode` branch?

@thefathefa Can any other devices connect to your PC (on port 8080) when it's at the second stage? My best guess is a firewall when connected to your home WiFi (but it's just a guess), it would also be worth trying with the --legacy flag

[2017-10-05 21:07] thefathefa commented on #21
Well, I have to say I'm not too sure of what to test:-) At stage 2, should I understand that your script is setting up a web server that the Sonoff should connect to, while both Sonoff and my PC are on my home Wifi?
Can I test this with e.g. my phone or another PC? As this is my first Sonoff that I'm trying to get to work before I buy more. I just ordered 2 basics to see if things get better with

[2017-10-05 21:37] quikote commented on #21
Hi all. Sorry to hear that it didn't work for you, but the DOUT branch worked for me without any flag the first time I tried. Before that, I was trying around 30 times with the master branch and with and without flags. A not of combinations, but same result (404 and no FinalStage).
Once I change to the DOUT branch the only problem I had was to change the FinalStage Wi-Fi connection to private inst

[2017-10-05 21:55] czyz commented on #21
I forgot I'd ordered a 2nd s20_us, so I tried that one. Same 404 error with both the master and DOUT branches. Then I tried something new. I installed the EWeLink app, made an account, activated/connected/whatever the s20 within the app, and installed the 1.5.2 to 1.5.5 firmware update.

And after that, I tried SonOTA master -- no 404 error! It got all the way through the process to FinalStage, th

[2017-10-05 22:45] sillyfrog commented on #21
@thefathefa Correct, it's just a web server, so if you browse to http://<ip of pc>:8080/ from your phone on the same WiFi, you should get the string "404: Not Found" in your browser. If you get "Connection Refused" or similar error from your browser, then there is probably a firewall in place, which you'll need to turn off.

For others: to confirm what @quikote said, it's important to completely d

[2017-10-05 23:09] sillyfrog commented on #28
My first guess would be a firewall is running when connected to the FinalStage network. On Windows 10 people have reported they need to mark the network as "Private" to open up the firewall (I'm guessing the OS here). But it maybe best to completely disable all firewalls for testing and see if that gets you any further.

Running it with --no-prov is the best way to get to the second stage, and the

[2017-10-05 23:11] sillyfrog commented on #27
It is not - from my (quick) research, I have not found a way to back up and restore the full original firmware (including boot loader). Which of course for development has made things tricky as I only have one go to get it right for each device! If you do find a way (or any one), please post it here.

[2017-10-06 02:13] czyz commented on #21
I had tried --legacy before back when I was getting 404s. I didn't save the output, but it didn't get any further in the process.

• Here's the output of running sonota.py on the (upgraded to 1.5.5) s20_us:
[test_sonota_on_s20_w1.5.5firmware--FinalStage_doesnt_go_away.txt](https://github.com/mirko/SonOTA/files/1361344/test_sonota_on_s20_w1.5.5firmware--FinalStage_doesnt_go_away.txt)

• And here's

[2017-10-06 02:58] sillyfrog commented on #21
@czyz Perfect, thanks, that matches #24 perfectly, so I'll have a think as to how I can address that.

Did you try the v1.5.2 with the `DOUT-mode` branch and `--legacy`? That combination should work - assuming my guess is right. If not, if you can send the output again that would be great. Cheers.

[2017-10-06 06:50] tocklime commented on #28
Firewall it was. All sorted now, thanks.

I did censor those passwords at some point. Guess I then copy pasted the wrong thing. Thanks for the heads up.

[2017-10-06 06:50] #28 closed

[2017-10-06 10:02] sillyfrog commented on #1
I know this is old, but I'm trying to restore the firmware so I can do testing of some updates to SonOTA (without having to buy more Sonoff's).

From my initial debugging I already had a backup of my `user1.1024.new.2.bin` and `user2.1024.new.2.bin`. I tried restoring them using the following command (and a bunch of other variants, including `user2.1024.new.2.bin` at `0x81000`, and different versi

[2017-10-06 10:19] thefathefa commented on #21
Update : I disabled the firewall, and I was able to get the 404 error when connecting from another device and the process moved on (but only after I hit CTRL-C because I thought it was stuck : i got then a full set out traces displayed which looked good!!! So good, some progress even if I'm not sure the CTRL-C is very good.
It was then stuck a second time and hitting CTRL-C unblocked it and I got

[2017-10-06 10:57] sillyfrog commented on #21
@thefathefa I'm working on stuff now for it to figure things out and not exit early, but you should be able to just run it again with `--no-prov`, and then connect to the `FinalStage` SSID, and after a minute or so it should be updated.

It will show something like this in the output:
`2017-10-06 20:26:00,139 (INFO) 200 GET /ota/image_arduino.bin (192.168.4.1) 8682.74ms`

If you are still getting

[2017-10-06 11:03] sillyfrog commented on #1
After further searching, the solution appears to be right under my nose at https://github.com/khcnz/Espressif2Arduino#flashing--running

Specifically, to backup:
[code]

And to restore:
[code]

Unfortunately I have already flashed all my devices, so can't do the initial backup, if someone does have a full backup they are willing to share with me, please let me know.

[2017-10-06 11:32] thefathefa commented on #21
@sillyfrog thanks a lot for what you are doing!

The current status for me is as follows
Device has no led on anymore
FinalStage SSDI is available and I can connect to it
But nothing seems to be happening. I have tried with the --no-prov --legacy options but no luck.

See the traces of the last attempt:

``root@Surface4:~/SonOTA# ./sonota.py --no-prov --legacy --serving-host 192.168.101.106
WiFi S

[2017-10-06 11:48] sillyfrog commented on #27
I have put my comments and progress so far on #1, including how to back it up - please let me know if this works for you.

[2017-10-06 11:48] #27 closed

[2017-10-06 11:49] sillyfrog commented on #19
Things look to be OK now from most OS's with the latest enhancements, so closing this ticket.

[2017-10-06 11:49] #19 closed

[2017-10-06 11:50] sillyfrog commented on #24
Confirming that I have made some changes to fix this now in the `DOUT-mode` branch. This will likely become master shortly, should you come across this again.

[2017-10-06 11:55] sillyfrog commented on #21
All: I have just pushed a few enhancements to the sonota.py in the `DOUT-mode` branch to better handle the "FinalStage" (and the reasons it was an issue previously). So please pull and update to that branch before doing further testing if getting the 404 issue (all going well I hope to make this master).

@thefathefa In my testing just now I found that while the Sonoff is in the FinalStage, it app

[2017-10-06 12:04] thefathefa commented on #21
ok, to be sure, by resseting, you mean power cycle it? I don't seem to be able to run the 7 seconds press any more, or when I do it has no effect on the led, which worries me a bit :-)

[2017-10-06 12:08] sillyfrog commented on #21
@thefathefa Yes, power cycle. That's correct re the button, this is now running the `Espressif2Arduino` firmware, which does not do anything with the button etc. It's entire purpose is to get things ready and install the `image_arduino.bin` image.

[2017-10-06 12:33] thefathefa commented on #21
ok, I got it.

Bear wit me but I just realized i still had several problems:
- I never was on the DOUT-mode branch - I'm not familiar with github stuff and did not see I had not moved to the branch - not very smart...
- this morning I disabled firewall on private networks which unblocked me but not on public networks which blocked me with FinalStage... really not smart...

It might have worked wit

[2017-10-06 18:06] echox commented on #17
I got the same problem with the Sonoff POW which seems to be related to https://github.com/mirko/SonOTA/issues/21

So this is the setup/discovery I made:

Got two Sonoff POW via Amazon today. Sadly I can't find any datecode or serial which could help to identify the age.
Only thing is a barcode with 160810001 which could be 10/08/16 but this is highly speculative, anyway:

Same problem like mentio

[2017-10-06 18:30] zobelhelas commented on #17
@echox: IIRC the latest firmware version from Sonoff is 2.0.4. Did you try to upgrade (at least) one of them to the latest version?

[2017-10-06 18:36] echox commented on #17
I've updated the Firmware from 2.0.2 to 2.0.4 via the offical EWELink app.
After that the process of flashing the Sonoff POW works smoothly.
```.......No longer on "FinalStage" SSID, all done!```

[2017-10-06 18:54] echox commented on #17
(Sorry didn't saw your comment. I wasn't aware of the 2.0.2 version before creating a account with email, etc. for the EWELink app. As mentioned, after upgrading to 2.0.4 everything works fine. Thanks.)

[2017-10-06 20:55] filhome commented on #21
Hi All !
I have a Sonoff 4CH.
After an upgrade with EWeLink (2.0.1) and DOUT-mode branch, it works.
Thanks !

[2017-10-07 00:20] sillyfrog commented on #17
Glad that worked, should you come across any older versions again, there is a `--legacy` flag that would be worth giving a go, it hosts things on the default ports as well for the older devices that did not use the custom port field during the provisioning step.

Cheers.

[2017-10-07 00:20] #17 closed

[2017-10-07 03:54] sillyfrog commented on #21
Given the positive responses, I have merged the changes into master and will close this ticket. If anyone does have further issues please open a new issue.

Thanks for everyone's feedback to help get this sorted.

[2017-10-07 09:21] 08-15at commented on #21
@sillyfrog,

sorry, but bad news. New DOUT version works fine on Sonoff Basic (got some which were backordered at banggood yesterday, so theses could be pretty actual models), but I still get the 404 error on the Sonoff Dual.
Unfortunately the Dual keeps messing up. As the same setup works for the Basic module, there must be still be something different. As my Dual is at least 2 month older than t

[2017-10-07 09:51] sillyfrog commented on #21
@08-15at can you post the output please with the last way build (everything pushed today)? Keen to try and figure it out (I have a Dual as well that worked, so it should be possible).
Cheers.

[2017-10-08 13:22] davorf commented on #21
Hello!

After updating Sonoff Basic from 1.5.2 to 1.5.5 and Sonoff Touch from 1.5.2 to 1.6.1 I was able to flash it using master branch (not DOUT), and master branch I've had was cloned before changes from DOUT branch were merged. Flashing Sonoff Basic went exactly as described in readme, but after flashing Sonoff Touch, FinalStage AP didn't disappear. I've connected to Sonoff AP manually, configu

[2017-10-08 13:57] tocklime opened #30 "Stuck in Final Stage"
My device is stuck on Final stage, this time the firewall is already off, and I get the same behaviour running it in Linux. I've attached a serial monitor, and this is what is output:

[code]

It's a Sonoff T1. Any ideas?

[2017-10-08 19:44] gdgeist opened #31 "SSL: DECRYPTION_FAILED_OR_BAD_RECORD_MAC"
Brand New SONOFF Basics(2) out of the box.  Using latest master branch.  Receive SSL error: (WARNING) error on read: [SSL: DECRYPTION_FAILED_OR_BAD_RECORD_MAC] decryption failed or bad record mac (_ssl.c:2083) after First Stage succeeds.  SONOFF units do join the wifi and do attempt to proceed but this error is thrown.  Deleting the certificates generates general errors in stead and the use of sel

[2017-10-08 20:08] serger2000 opened #32 "No "FinalStage""
Hello!
My Sonoff model TH16
Tried few times but no luck

Select IP address of the WiFi interface:
    0: 192.168.88.208
Select IP address [0]: 0
WiFi SSID: m5_home
WiFi Password: xxxxxxxx

Using the following configuration:
	Server IP Address: 192.168.88.208
	WiFi SSID: m5_home
	WiFi Password: xxxxxxxx
** Now connect via WiFi to your Sonoff device.
** Please change into the ITEAD WiFi network (ITE

[2017-10-08 21:20] thefathefa commented on #32
Did you check all possible firewalls on your PC which could block the
process?

Le dim. 8 oct. 2017 à 22:08, serger2000 <notifications@github.com> a écrit :

[2017-10-08 21:29] serger2000 commented on #32
Yes, but I'm using mac+airport

[2017-10-08 21:41] serger2000 commented on #32
And I can see webserver on both ports from other devices at this wifi
![image-1](https://user-images.githubusercontent.com/32621340/31321200-855391ca-ac8a-11e7-9b4e-c0dc0baeb336.jpg)

[2017-10-09 01:37] sillyfrog commented on #32
That is weird as there are so many timeouts for the initial `/device` calls. I suspect that's the cause of the other issues - to start with, I would suggest doing a full restart of everything (WiFi, computer etc), and double checking if you have any software that may mess with traffic (eg: anti-virus, if you do, disable, and reboot your Mac).

[2017-10-09 01:40] sillyfrog commented on #31
Can you confirm the version of Python and OS you are running on? It should be a normal download at this point.

The included certificates are just self signed, so unlikely to make much difference, it's not something I have seen before at this stage, but with the above I'll see if anything comes to mind.

[2017-10-09 01:54] sillyfrog commented on #30
Thanks for connecting the serial and sending the output - I'm pretty sure I do know what that is, and thinking about it, it's weird that I didn't see it in my testing!

I know what the fix will be, and it will required some changes to the `image_user*` files unfortunately, but as you have the serial connected, it should be an easy fix.

I have also pulled these files from the repo for the moment u

[2017-10-09 03:54] khcnz commented on #1
Sorry - the original firmware is locked to each device (there is a mac address check!). See details on the original tasmota thread (linked to from the sonta readme)

[2017-10-09 06:51] tocklime commented on #30
No worries. I've flashed the firmware by serial, so don't hurry on my account.

[2017-10-09 07:41] serger2000 commented on #32
Thanks for advise. Now I have something new)

Select IP address of the WiFi interface:
    0: 192.168.88.208
Select IP address [0]: 0
WiFi SSID: m5_home
WiFi Password: xxxxxxxx

Using the following configuration:
	Server IP Address: 192.168.88.208
	WiFi SSID: m5_home
	WiFi Password: xxxxxxxx
** Now connect via WiFi to your Sonoff device.
** Please change into the ITEAD WiFi network (ITEAD-100001XX

[2017-10-09 07:45] sillyfrog commented on #30
Hi,

I'm looking at the code now and I think the error is the issue (I'll sort that, it's not as dire as I thought it was!). To help me debug, had you done any serial flashing of this device previously? It looks like what was written to the flash had errors (which would be possible if there were other things happening on serial already).

Cheers.

[2017-10-09 07:47] sillyfrog commented on #32
That last error `OSError: [Errno 48] Address already in use` suggest there is another service already running on port `8080` or `8443`, if you stop that service for the moment, you should be OK.

[2017-10-09 08:26] serger2000 commented on #32
Everething same. Last errors where due to Unify Center.
Now Im back to previus log)
As I see at wifi explorer, after "Starting stage2..." itead ssid apearing several times, but as I understand it must have name FinalStage?

<img width="488" alt="2017-10-09 11 03 24" src="https://user-images.githubusercontent.com/32621340/31329744-36faf004-ace4-11e7-804e-ca367ce12241.png">

[2017-10-09 08:40] sillyfrog commented on #32
If you have stopped the service that was using the port, you should be able to just start again. If you are still having issue, please send through the logs again.
Good luck.

[2017-10-09 08:41] tocklime commented on #30
Nope. From brand new in box, it went:

1. Connect to back box, power up and check local operation.
2. Run sonota.py. Forget to switch off firewall, so device is provisioned, but doesn't download any binaries.
3. Kill sonota.py, switch off firewall, re-run sonota.py with --no-prov. It asked me for wifi credentials anyway. I put in junk (This seems to be a windows only thing. Seperate issue, anyway)

[2017-10-09 09:12] sillyfrog commented on #30
Thanks for the detailed breakdown - in that case I'm not sure what happened :/

I have made some changes to the Espressif2Arduino portion so the output is a bit better to help with debugging (I'm about to push it). Please let me know if you see it again with the latest build should you get another one.

Cheers.

[2017-10-09 09:12] #30 closed

[2017-10-09 09:19] serger2000 commented on #32
Yes, here it is%

Last login: Mon Oct  9 11:15:32 on console
MacBook-Pro:SonOTA-master tinkov$ sudo python3 sonota.py
Password:
Select IP address of the WiFi interface:
    0: 192.168.88.208
Select IP address [0]: 0
WiFi SSID: m5_home
WiFi Password: ********

Using the following configuration:
	Server IP Address: 192.168.88.208
	WiFi SSID: m5_home
	WiFi Password: ********
** Now connect via WiFi t

[2017-10-09 09:27] sillyfrog commented on #32
Can you see the Sonoff connect to your network? If you have access to the DHCP server logs or similar you should be able to see it (this stage the stock Sonoff firmware is trying to connect to your computer).

The other thing you can try is running it with `--legacy` - unfortunately until it connects again you can't see the version (which would let us know if that's required). If that works, if yo

[2017-10-09 09:35] serger2000 commented on #32
Yes, 192.168.88.70 in list
I should try: sudo python3 sonota.py --legacy
?

<img width="919" alt="2017-10-09 12 32 42" src="https://user-images.githubusercontent.com/32621340/31332208-1c5a7936-acee-11e7-9b46-b5d6f1decfe9.png">

[2017-10-09 09:39] sillyfrog commented on #32
Correct, try `sudo python3 sonota.py --legacy`. Good luck!

[2017-10-09 10:45] serger2000 commented on #32
here we are, but no luck(

Select IP address of the WiFi interface:
    0: 192.168.88.208
Select IP address [0]: 0
WiFi SSID: m5_home
WiFi Password: *********

Using the following configuration:
	Server IP Address: 192.168.88.208
	WiFi SSID: m5_home
	WiFi Password: *********
** Now connect via WiFi to your Sonoff device.
** Please change into the ITEAD WiFi network (ITEAD-100001XXXX). The default

[2017-10-09 11:31] sillyfrog commented on #32
The `"error": 404` is something that we've been trying to fix, and thought we had it sorted.

The `--legacy` has worked in the past with that version (v2.0.1, see here https://github.com/mirko/SonOTA/wiki ).

Now things are getting to the later stages, I'm keen to see if we can resolve this, if you can try running again (same options) on the git SHA `4ff55988b9d53eec461c71825fe9f76ce5f6a5e6` (to d

[2017-10-09 11:49] serger2000 commented on #32
Difference was only in .bin files?

Log:
Select IP address of the WiFi interface:
    0: 192.168.88.208
Select IP address [0]: 0
WiFi SSID: m5_home
WiFi Password: ********

Using the following configuration:
	Server IP Address: 192.168.88.208
	WiFi SSID: m5_home
	WiFi Password: ********
** Now connect via WiFi to your Sonoff device.
** Please change into the ITEAD WiFi network (ITEAD-100001XXXX).

[2017-10-09 11:52] sillyfrog commented on #32
Correct, they use a different flash mode (which was the best guess as to the errors).

In that case you may need to update to the latest firmware in the app, then try again.

[2017-10-09 11:55] serger2000 commented on #32
Done. Which bins to try?

[2017-10-09 11:57] sillyfrog commented on #32
The latest should be good. Do a pull first as I have made some more minor update in the last few hours as well.

Cheers.

[2017-10-09 12:06] serger2000 commented on #32
Everything great! Thanks! I was scaread a litle bit about usbttl flashing)

[2017-10-09 12:06] #32 closed

[2017-10-09 12:19] sillyfrog commented on #32
Awesome!
One day I’ll be able to replicate that 404 issue.

Glad it’s sorted in the end.

[2017-10-09 14:17] hista opened #33 "How to directly upload the last Sonoff-Tasmota version?"
Hi,

According to the readme, SonOTA uploads the v5.5.2, which is not the last one (v5.8.0i currently).
How to directly upload the last Sonoff-Tasmota version?

Best regards and thanks for your very convenient OTA tool!

[2017-10-09 14:23] thefathefa commented on #33
Ah, I had the same question:-)

Also, it is not clear to me if the Tasmota binary files are made available
somewhere or if they need to be compiled somehow? I know this is not
strictly a SonOTA question, but related to the OP, I think.

Thanks,

Le lun. 9 oct. 2017 à 16:18, hista <notifications@github.com> a écrit :

[2017-10-09 17:29] brenosabino opened #34 "Stuck on FinalStage ssid"
I'm trying to flash a sonoff basic that was on v1.5.5, using a windows laptop with python 3.5 everything seemed ok but the program got stuck on the finalstage part.

I disabled all the firewalls rebooted the pc and tried again. It seemed to flash the image_arduino.bin file but I was still connected to the FinalStage ssid but with a 169.xxx ip instead of 192.168.4.2.

Also after rebooting the sonof

[2017-10-09 17:33] 08-15at commented on #21
@sillyfrog, sorry just got back to the device today

As you can see in second log (code from saturday ), I tried to add "outlet" to the relay switching code, but this makes no difference. Error stays the same, regardless if this is in the code or not. Just thought that so I'd at least hear one relay click, which didn't happen.
Here is the output log with the files without changes I downloaded righ

[2017-10-09 18:37] iMarkus commented on #25
Hi @sillyfrog I can confirm 4CH Pro is working fine. The firmware update to 2.0.1 was needed using official app. You can update the wiki ;)

Thank you so much!

[2017-10-09 22:00] gdgeist commented on #31
PEBKAC - manually installed Python3 from website instead of using Homebrew on OS X.  Installing via Brew of both openssl and python3 then pip to install the requirements resolved!!!!

[2017-10-09 22:00] #31 closed

[2017-10-09 22:30] sillyfrog commented on #25
Awesome, thanks for the feedback. Wiki updated.

[2017-10-10 05:03] whuiscool commented on #33
Hi，

SonOTA is awesome！！！I've used it to flash my basic and 4CH two devices.
But I have the same question, Sonoff-Tasmota has released 5.8.0 version, but SonOTA now just 5.5.2 version, how do we use the new version in SonOTA?

Best regards and thanks for your very convenient OTA tool!

[2017-10-10 05:21] sillyfrog commented on #21
@08-15at Bummer... This latest build was looking so good for several others... It maybe worth trying all the different flash types. I can put together a number of different branches again to test this, or if you didn't want to wait (it'll be a bit over a day probably before I can get back to this), I have some (quick) notes at: https://github.com/mirko/SonOTA/tree/master/static

I'll probably get

[2017-10-10 05:27] sillyfrog commented on #33
Thanks!

I have not updated the version (or build) of Sonoff-Tasmota as this one is now well tested during this OTA upgrade process. That said, I have been doing a bunch more playing around, and would be much more comfortable than I was previously to do this now - which I'll do when I get a chance.

The prebuilt binary is at `static/image_arduino.bin`, and you can put any built Arduino binary file

[2017-10-10 05:27] #33 closed

[2017-10-10 05:35] sillyfrog commented on #34
I have had one other report of this where some WiFi drivers don't appear to disconnect when the AP goes away.

What you have done sounds like it should work.

Do you see the `sonoff-####` SSID in your list of available networks? (It's often easier to check on your phone, and give it a good 30-60 seconds for it to come up.) If you do see it, things have worked, if not - maybe try a power cycle of t

[2017-10-10 11:40] sillyfrog commented on #33
Further to this, I forgot to mention the reason I don't use the binaries from https://github.com/arendst/Sonoff-Tasmota/releases (which you can use once configured to get the latest easily), is the default mode is WPS. This means that after it has been flashed, and there is no config, the Sonoff will try to connect to a WPS enabled AP - which I don't have (and probably many others) - so prefer it

[2017-10-10 11:43] hista commented on #33
Your point is relevant.
The ideal solution would be to be able to upload/flash with an already configured firmware with our user settings.
How would it be possible?

[2017-10-10 11:45] sillyfrog commented on #33
@hista All you need to do is build your own image (with settings), and replace the `image_arduino.bin` file then run SonOTA - the script calculates all the checksums etc on the fly so it's simple to use whatever image you wish.

[2017-10-10 11:47] hista commented on #33
Yes I need to find a good tutorial to build it... and to wait for receiving my new sonoff S20 to test it because the previous one are already flashed :-)

[2017-10-10 11:50] sillyfrog commented on #33
And just testing now, what I have said about building and defaulting to AP mode is sorted with the current release of Sonoff-Tasmota. It will be in AP mode for 2 minutes after the reboot. I'm going to make some changes when I get a chance and make this the default included binary, with directions as to where to get the latest.

[2017-10-10 11:55] sillyfrog commented on #33
No... never mind... my test was bad... I will keep doing my own build so it's in AP mode by default...

[2017-10-10 12:05] andyfitter commented on #21
I’ve had problems with two Sonoff Duals too. Both were on software 1.3.0 out of the box, and both have given me the dreaded ‘404’ on all the branches/flashing options. the EWeLink App didn’t offer any firmware update options. Also tried having them both factory clean and previously linked to the EWelink app, still no luck.

In the end I went ‘old school’ and ‘hard' flashed them with an adaptor. No

[2017-10-11 00:46] sillyfrog commented on #21
Since this does not appear to be fixed for everyone, reopening until we have a solution that works...

[2017-10-11 04:07] sillyfrog commented on #21
@08-15at I have pushed the builds for each of the different flash types, if you can please do a pull, then `git checkout <branch-name>`, and try the flash for each of these branches, and see if any give you something that's not a 404 error.

The branches to try (I would suggest this order):

1. dio-mode
1. qio-mode
1. qout-mode

Hopefully one of them will work - if so, let me know and I'll have a

[2017-10-11 04:22] kryten01 commented on #21
@sillyfrog I would be happy to give it a go but I ended up having more success with the soldering iron.  Will be back to try the OTA method when I get more sonoffs.

A tip for anyone soldering header pins on the S20s (or at least the AU plug models).  You can't get the board out without major surgery, so the only option is to solder the pins in from the top - and there isn't really enough room to

[2017-10-11 04:31] sillyfrog commented on #21
@kryten01 If you do come across this again, and the above does not sort it, let me know. Your post implies you are in Australia, so maybe easy for me to get (buy) one from you so I can try and replicate and fix :)

[2017-10-11 14:33] 08-15at commented on #21
@sillyfrog tried the three other modes, keep getting the same 404 error message.

[2017-10-12 00:15] sillyfrog commented on #21
@08-15at grumble... I'm currently out of ideas... I'm assuming this is the Dual that you have upgraded to the latest Sonoff release (the actual upgrade step is important as it implies the flash itself is mostly working)? What country are you in? (I'd like to get my hands on it and test - seeing if that's practical.)

Does it still work OK with the eWeLink app?

[2017-10-12 00:47] andyfitter commented on #21
I’m in the uk but I’d happily PayPal the cash for you to get a dual if they are available to you?

[2017-10-12 00:55] andyfitter commented on #21
I’ve tried two duals now. They come with 1.3.0 and eWelink offers no updates. Happy to fund one for you for my gratitude.

[2017-10-12 00:58] sillyfrog commented on #21
The challenge is I have already got one and it just worked first go - so there are (some how) variants out there, so ideally I'd get the one that's actually having issues now. Do you know costs to ship one to Australia? (maybe send me an email so we can talk about it off this issue if that suits?)

[2017-10-12 01:25] andyfitter commented on #21
Sure, I’ll be in touch in the morning.

[2017-10-12 19:09] jebo01 opened #35 "SSL error"
I´m following the instructions here https://github.com/mirko/SonOTA and the first stage goes well. In the second stage i get the following error
.2017-10-12 21:07:01,051 (WARNING) error on read: [SSL: DECRYPTION_FAILED_OR_BAD_RECORD_MAC] decryption failed or bad record mac (_ssl.c:2083)

I´m not at all an advance user but would be great if anyone could point me in the right direction.
Have upgrade

[2017-10-12 20:28] sillyfrog commented on #35
Sounds like it's the same as #31 - does doing the same as this work?

[2017-10-12 22:09] gdgeist commented on #35
OS X default Python and Openssl cause the issue.

[2017-10-13 03:04] jebo01 commented on #35
Thanks, yes same problem as in #31. I'll try this later on today.

[2017-10-14 02:14] sillyfrog commented on #21
If anyone is still getting this 404 issue with all of the branches I pushed a few days ago, and are interested in getting me the hardware, I'd be keen to talk :)

@andyfitter If you are still up for it, drop me a note and we can see what we can figure out.

Thanks!

[2017-10-14 03:21] sillyfrog commented on #21
Further thinking and reading on this for those who are still interested in helping get this sorted... :)

It could be the type of flash causing the issue (from further reading). If someone has some hardware that is still getting the 404 issue, if you can have a look at the flash chip and post it here (a photo, or the numbers). This is the flash on my Dual (that _did_ work) on this page: https://gi

[2017-10-14 10:21] 08-15at commented on #21
@sillyfrog thanks for your efforts.
Had a close look at my chips on the Dual they have exakt the same numbers as on your picture, so different flash (mode) seems highly unlikely.
I've a feeling, the process  may fail way before the 404error happens.
When switching back from the ITEAD AP to my local router, my mac connects immediately, however the script waits pretty long before starting to output

[2017-10-14 11:45] TommySharpNZ opened #36 "No FinalStage SSID on Sonoff POW"
I've just managed to flash 3 Sonoff basics with no issues. Thanks again for a fantastic solution!

Now I'm trying to flash a POW and I'm going through the exact same steps but I'm just not getting a FinalStage SSID show up like with the basics.

Any ideas? The LED is flashing 2 shorts and then a pause.

.............................
*** IMPORTANT! ***
** AFTER the first download is COMPLETE, with

[2017-10-14 12:12] sillyfrog commented on #21
@08-15at I have successfully upgraded a Dual (the one in the photo) using SonOTA, running the firmware as in the wiki. The relay switching is just to give feedback that it's working (it's not at all required).

Your earlier posts have the line:
[code]
Then the 404 (sometimes the 404 may come through before hand, but this is just a race condition), suggesting the issue is to do with something in th

[2017-10-14 12:13] sillyfrog commented on #36
Can you please send through the full output from the run (remember to replace your WiFi password).

[2017-10-14 15:31] 08-15at commented on #21
@sillyfrog,
tried the freq branch, same results.
But did about 10 tests now in a row. What made me think of a watchdog/timeout reset is the following:

The time it takes before outputting the the following

is completely arbitrary, sometimes 1-2 seconds sometimes more than 15. Don't know any other reason for this.

[2017-10-14 16:22] 08-15at commented on #21
@sillyfrog hmm, you're probably right, seems as the dual doesn't like the first few packets and resets connection.
Here's a wireshark excerpt
[sonoff_dual.pcapng.zip](https://github.com/mirko/SonOTA/files/1384792/sonoff_dual.pcapng.zip)

[2017-10-14 19:24] lennardk commented on #36
I just tried my first SonOTA flash, and it was on a POW as well. I had the same problem, but I noticed the POW connecting to port 8081 of the server. On a whim I redirected port 8081 like below, and this worked.

`sudo iptables -t nat -I PREROUTING -d <server_ip> -p tcp --dport 8081 -j REDIRECT --to 8080`

[2017-10-14 22:05] sillyfrog commented on #36
Sounds like it maybe older firmware. The `--legacy` option will do something similar. Glad you got it sorted!

[2017-10-14 22:13] sillyfrog commented on #21
@08-15at Re the timing of the request, that's just the internal firmware in the Sonoff reaching out regularly - so it depends when you reconnect where it's at in the cycle. My thinking is the firmware is checking the first few bytes, verifying it's a match, and stopping or going based on that - I'm just not sure what features it's looking for.

I was hoping the model of the flash chip would give a

[2017-10-15 08:28] TommySharpNZ commented on #36
I still have an issue so can we re-open this issue please?

[2017-10-15 09:57] jscurtu commented on #25
@iMarkus
I think I messed up my 4ch pro .. It is stuck on FinalStage and nothing else is possible.
I was on the newest firmware.
Ordered me a new one and wanted to be sure I get it right this time, other than the latest firmware is there anything else to watch out for?

[2017-10-15 10:40] sillyfrog commented on #25
Can you send the logs of what’s happening?

If you need to start again, run it with no-prov then connect to the FinalStage SSID.

[2017-10-15 11:49] jscurtu commented on #25
thx, I tried that with no-prov, no success .. it will not continue. It does nothing and just shows me the info  its connected to FinalStage.

[2017-10-15 12:15] sillyfrog commented on #25
So there is no progress output?

Also ensure all firewalls are off. If you get asked about public/private or similar, set it to private (but turn off all firewalls is the real solution).

[2017-10-15 12:25] jscurtu commented on #25
The only progress is the dots , then it repeats ..
I tried it on Linux and macOS... No firewall active

[2017-10-15 13:14] andyfitter commented on #21
I wonder if this is related - seems the 'dual's are causing problems elsewhere  https://github.com/arendst/Sonoff-Tasmota/issues/1007

[2017-10-15 17:32] robertjanb commented on #21
For what it's worth: I had the same 404 errors all of the time, tried the different branches etc. The thing that worked for me was to use Linux (I was on W10). Used a new Dual with 1.3 firmware, and the master branche, all went smooth immediately.

[2017-10-15 21:57] sillyfrog commented on #21
@andyfitter could be - sounds just as weird! My successful attempt was on a Mac.

@robertjanb That is odd as the server should be serving exactly the same content - the only thing I can think that maybe different is the underlying TCP implementation, and there is something that Windows is doing weird - but unfortunately that has not been the solution for everyone. I'm working on getting one that's

[2017-10-15 22:04] sillyfrog commented on #25
@jscurtu Can you do a `tcpdump` on the WiFi interface after connecting to the `FinalStage` SSID and send that through?

The other things to check are:

- Do you have the correct IP address after connecting to `FinalStage`
- Can you ping the Sonoff while connected (on `192.168.4.1`)
- Can you browse to http://192.168.4.2:8080/ota/image_arduino.bin (from on the same host, using `wget` or `curl` shou

[2017-10-16 06:15] iMarkus commented on #25
@jscurtu I tried it first with delivered firmware and it did not work (404 error). After this I updated the firmware with EWeLink app and started the script again. Thats all.

OS: Mac OS High Sierra

[2017-10-16 08:37] maddhin commented on #15
did the OTA flashing with the second module work or is there a general problem with the RF?

[2017-10-16 08:44] 08-15at commented on #21
can somehow confirm robertjanb.
Gave Ubuntu a try (no VM) with python 3.5.2. No 404 error anymore, download started immediately but failed. However FinalStage appeared so I tried with --no-prov which seemed to install fine.
FinalStage disappeared, however now the Dual seems to be stuck in some kind of endless loop (
power on ->all lights off for ca. 20 seconds, then 20 second blue light blinking a

[2017-10-16 11:19] sillyfrog commented on #21
@08-15at Great news it's working. It should now have the latest `Sonoff-Tasmota` (assuming you have pulled recently). This will be in WPS mode, you need to press the button 4 times to enable the AP - see the home page of this project for some brief notes as to what it _should_ be doing.

[2017-10-16 11:49] kryten01 commented on #21
@sillyfrog Yes I'm in Aus and I would happily send you my spare S20 here but I've checked and it is bricked - and no longer responsive either via wifi or serial.  I suspect I have a blob of solder shorting something out on the other side of the board, so when I get time I'll see if I can resurrect it.  That will involve desoldering the AC plug in order to get the board out.

[2017-10-16 13:46] 08-15at commented on #21
@sillyfrog, tried the 4 button press several times, didn't work. However I was able to connect by temporarily changing one of the router sid & pw to the tasmota source code one.
So regarding flashing to me it definitely looks like a timing issue on mac os x (can't think it has something to do with the used python version or so). Could it have to do something with tornado async threads (I'm a pytho

[2017-10-16 15:34] fat-fred commented on #36
I have also an issue. With the --legacy i come to the finale stage with the POW. but here it hangs.

[2017-10-16 18:13] Thorhammerk commented on #21
Hi,
i´ve tried to update my S20 (just unboxed)via WIN10, Linux and OSX...without luck. Still getting 404 and FinalStage never comes.

[2017-10-17 07:41] Tontze commented on #15
I did try this same Sonoff RF yesterday and had similar results. It didnt connect anywhere. Im new on this, so i dont know how to debug. Flashing went fine through the process, but it never connected to anywhere.

[2017-10-17 07:51] maddhin commented on #15
I can actually confirm this. I tried to flash the RF and everything seem to have went fine (finalstage appeared and disappeared) but then the Sonoff RF seems to go in a state that "does nothing" - I was not able to find it being connected to the WLAN nor could I find a AP to connect to.

Sadly, I closed the sonota.py window. I would recommend to write s log file so one can see if there were errors

[2017-10-17 07:55] maddhin commented on #15
just read the first post again: @Tontze: did you try to set up the  "indebuurt1" wifi and see if it tries to connect to that? That could be a possible scenario to "save" from manual flashing. Will try to test this tonight, too.

[2017-10-17 09:37] sillyfrog commented on #15
Pressing the button 4 times while the LED is flashing should put to into AP mode. See the home page of this project for more info and links.

Cheers.

[2017-10-17 09:43] maddhin commented on #15
getting it into AP mode was the first thing I tried after I could not find it connected to my WLAN (nor seeing a Sonoff or other AP). But it does not work, no AP. I waited forever and used 2 laptops and 1 iPhone to see if there is something popping up :)
I will try the "indebuurt1" wifi later but doubt this will work if the AP is not coming up.

[2017-10-17 15:34] Tontze commented on #15
Ok, serial logger says its trying to connect to indebuurt1, which does not exist. But im not bale to get it to AP mode either ?

[2017-10-17 16:20] Tontze commented on #15
I made indebuurt1 hotspot with my phone. Sonoff RF is now connected to it and got ip address.
 I can now connect to sonoff through my phone :)

[2017-10-18 02:13] maddhin commented on #15
I can confirm this. Once I set up indebuurt1, the RF connected and I were able to access it. I put in my wifi credentials but it did not connect to my wifi. Whether this is a general problem or due to a dumb mistake like a typo in the wifi password, I do not know. I used the WPS function and the RF connected to my wifi and is now accessible.
1. the AP function (4 x button) still doesn't seem to wo

[2017-10-18 03:19] sillyfrog commented on #15
If it's booting and connecting to the `indebuurt1` network, then the boot-loader is working because `Sonoff-Tasmota` must be running.

I found that the trick to get it into AP mode was to press the button at the same rate as the flashing LED (it must be done while it flashing), then the next reboot it was in AP mode (remember it's only in AP mode for 60 seconds). I'll try and update the docs to ma

[2017-10-18 03:35] maddhin commented on #15
OK, then a possible issue is getting into AP mode per se. I thought I can do 4 x button any time and it stays in AP from then. I guess this should be in the - otherwise excellent - documentation.

Will test this later. Many thanks for your explanations!

I think it is mainly a documentation issue. Being able to flash OTA is great. Whether `indebuurt1` or AP doesn't matter much. And connecting to t

[2017-10-18 11:08] TommySharpNZ commented on #36
Using the eWelink app and upgrading my POW to 2.0.4 resolved my issues!
I didn't have to use legacy or anything.....
Although did have to press and hold the button twice to get the itead SSID

[2017-10-19 08:04] iMarkus commented on #25
@sillyfrog just wanted to inform you that i received a second 4ch pro yesterday and went through the following steps:

- turn on
- hold any button for > 7 seconds
- hold any button for > 7 seconds (ap mode)
- connect to itead wifi using smartphone
- add new device using EWeLink app
- update firmware to 2.0.1
- hold any button for > 7 seconds
- hold any button for > 7 seconds  (ap mode)
- start awe

[2017-10-19 12:22] jscurtu commented on #25
@sillyfrog I will get to this probably this evening

[2017-10-19 17:52] ilya-fedin commented on #34
I have same problem. I trying to flash Sonoff Basic at laptop with Arch Linux. There is no `sonoff-####` SSID, only FinalStage and Wi-Fi routers.

[2017-10-19 22:08] JacoFourie opened #38 "Email address invalid?"
Hi. I sent you an email but it keeps on coming back. Not sure if it is wrong on the wiki.
I must say thank you sooo much for this. I have flashed 3 Sonoff Basics and 2 Touch.
It worked with some issues but I managed to get them all done.  The script would get stuck at the FinalStage SSID part. It would sit there and I can not kill the script. Only way is to close the window.
Then I have to restart

[2017-10-20 02:03] sillyfrog commented on #38
Re the touch, do you have the output of the run?

There have been some others with issues with the Touch and doing upgrades (even just using the eWeLink app) - so I think there is a quality issue with the Flash on some of them.

That said, the first thing to try is to do a normal reset and try and start the process again. Importantly, it's good to keep the output to try and debug as well.

Also, i

[2017-10-20 02:04] sillyfrog commented on #34
@ilya-fedin Weird - the only thing I can think that may cause that is if something is connecting to the open AP before you do (I have seen some older network things do that before), but glad it worked!

[2017-10-20 03:39] sillyfrog commented on #36
@fat-fred Can you send through the full output if you are still having issues? Also, please ensure you have turned off all firewalls, this has been an issue an number of times when stuck on the FinalStage SSID (as it's a new network, by default it's "public", and so blocks everything).

[2017-10-20 05:23] JacoFourie commented on #38
Good news is you where correct. The Touch did update. I hit the button 4 times to put it into AP mode and configured it to connect to my WiFi network. I have ordered a couple of T1 units. I hope to flash them this way as well.  Thanks for all the hard work.

[2017-10-20 12:39] jscurtu commented on #25
@iMarkus one question, which power source did you use (input)?
The DC 5-24V or the AC 90-250V ?

[2017-10-20 16:21] iMarkus commented on #25
@jscurtu AC

[2017-10-20 19:02] jscurtu commented on #25
@sillyfrog
Today I flashed a fresh 4CH Pro and it worked without a issue..

For the one that got fried here are the requested information:

Do you have the correct IP address after connecting to FinalStage
- Yes
<img width="376" alt="screenshot at oct 20 20-35-39" src="https://user-images.githubusercontent.com/590307/31837472-2dec1ec2-b5d9-11e7-9972-4f167a3789e9.png">

Can you ping the Sonoff whil

[2017-10-20 21:13] sillyfrog commented on #25
@jscurtu This (should) be easy to fix, it looks like the web server is not actually running on port 8080 for some reason when on FinalStage.

Can you please run it with `--no-prov` connect to the `FinalStage` SSID again, wait a minute or so, then send the output? I'm going to expect there is some sort of Python traceback, and that should hopefully point to the cause of the issue.

That test `curl`

[2017-10-20 21:16] jscurtu commented on #25
@sillyfrog  send the output of the terminal? Or a new tcpdump?

[2017-10-20 21:25] jscurtu commented on #25
@sillyfrog this is what I get after 2 - 3 minutes.

python3 sonota.py --no-prov
Starting stage2...
~~ Starting web server (HTTP port: 8080, HTTPS port 8443)
~~ Waiting for device to connect

*** IMPORTANT! ***
** AFTER the first download is COMPLETE, with in a minute or so you should connect to the new SSID "FinalStage" to finish the process.
** ONLY disconnect when the new "FinalStage" SSID is vi

[2017-10-20 21:33] jscurtu commented on #25
@sillyfrog for what ist worth, I just did a curl on the web server while it was trying ..

then the status changed ..

python3 sonota.py --no-prov
Starting stage2...
~~ Starting web server (HTTP port: 8080, HTTPS port 8443)
~~ Waiting for device to connect

The "FinalStage" SSID will disappear when the device has been fully flashed and image_arduino.bin has been installed
Once "FinalStage" has gon

[2017-10-20 22:55] sillyfrog commented on #25
So that looks like it's listening on port 8080 OK now, can you do a `tcpdump` again please after connecting to FinalStage, I'm hoping to see the SYN packets coming in, but this time actual get an ACK back (rather than the RST of the original tcpdump, when the curl didn't work).

[2017-10-21 10:25] sillyfrog commented on #21
@kryten01 Thanks for the offer! Let me know if you manage to get it going, an important thing will be that it still works with the eWeLink app as I'll be using that traffic to try and figure out the source of the issue. That said, I have one coming from someone else at this stage, so I'll let you know once I have it, and have had a chance to look at it further.

[2017-10-21 10:31] psidlo commented on #36
I had the same problem. First I saw POW was trying to connect to 8081 port so I used --legacy option. Then POW did not find right file on sonota web server. After upgrade to 2.0.4 issue was resolved.

Here is output of SonOTA: https://pastebin.com/sTTQbya2

[2017-10-21 11:30] ro-76 opened #39 "Syntax error"
Please be patient with a python newbie. I followed all the steps and installed the dependencies and requirements, but when I run the script I get this error:

File "./sonota.py", line 499
print(".", end="", flush=True)
^
SyntaxError: invalid syntax

Please help!

I'm using OSX and installed the latest python 3.6. I dragged the sonota.py file onto the launcher for the 3.6 app. I've also tried on 2

[2017-10-21 11:40] sillyfrog commented on #39
Hmm, I have not tried using the GUI before to run it. If you open Terminal, then ‘cd’ to the folder with Sonota.py, then type ‘./sonota.py’, it should get you going.

If not let me know and I can be more specific tomorrow when I’m in front of a Mac.

[2017-10-21 11:50] ro-76 commented on #39
Thanks for that. I tried also running it from terminal but with the same result.

[2017-10-21 14:46] mirkorobocop commented on #34
I also have the same problem with sonoff first generation and im stuck on FinalStage
I tried --no-prev and set static ip unfortunately, this did not work.
when I connect the device to a power outlet led blinks for 5 seconds and then shines continuously
After connecting to the ssid FinalStage I run python3 sonota.py --no-prev and then I'm in the upload file loop because network never disappears.
Do

[2017-10-21 19:36] jcoudrais opened #40 "with dual sonoff, bootloop no more AP"
Hi,

Great job, didn't think I can achieve that without hardware mod... almost...

So everything seemed to be ok, got finalstage ssid.

Now the dual sonoff seems to boot loop, sometimes quick blinking during ~15 seconds, then no led during 15 seconds and so on.
No way to get the AP back, with all button sequence.
[sonota.log](https://github.com/mirko/SonOTA/files/1404402/sonota.log)

Thank you for

[2017-10-21 19:50] #39 closed

[2017-10-21 20:14] jcoudrais commented on #40
So, this dual so special... it is ok with the spoof of the default ssid...

It is ok, !! Great !

[2017-10-21 20:14] #40 closed

[2017-10-21 21:15] ro-76 commented on #35
I'm having the same problem.

2017-10-21 22:03:43,877 (WARNING) error on read: [SSL: DECRYPTION_FAILED_OR_BAD_RECORD_MAC] decryption failed or bad record mac (_ssl.c:1976)

I had installed python manually, so I went and installed via homebrew, but I still get the error.

[2017-10-22 02:03] sillyfrog commented on #34
@mirkorobocop If you restart everything (both PC and Sonoff), do you still get the FinalStage SSID? And if so, can you try doing what you outlined again and see if that works. It's very weird as it's downloading the file, but not actually flashing it...

[2017-10-22 02:04] sillyfrog commented on #35
@ro-76 Can you please send the output of `/usr/bin/env python3 --version`, and how you are calling the script? I'm guessing it's still using the system python.

[2017-10-22 02:07] sillyfrog commented on #36
Glad an update fixes it, weird it's happening on this one so reliably on the older release. It sounds like it's likely the same as #21 (so going to assume it's the same for the moment). I have not been able to replicate this to date, but have a Sonoff that has had the issue shipped to me so I can look, and try and figure out a fix.

[2017-10-22 02:07] #36 closed

[2017-10-22 08:55] mirkorobocop commented on #34
@sillyfrog I did as you said but nothing changed

[2017-10-22 10:02] jebo01 commented on #35
@ro-76 I had the same thing, I ran `brew doctor` and found some issues, after fixing those it all worked for me.

[2017-10-23 03:19] boraygowda opened #41 "Sonoff 1 Channel Inching Relay Module (ESP 8285)"
Hi,

Is there a different process for ESP8285 based boards? I've seen a separate item in the board manager on Arduino IDE, however, in the SonOTA OTA update procedures laid down, there's nothing specific for 8285.

Will the documented process work equally well for 8285 based boards like the one I mentioned?
Or is there anything different I must do?
So far I've not tried for the fear of bricking/ov

[2017-10-23 03:25] sillyfrog commented on #41
The list of units where this has worked is listed on the Wiki. It should work, and the builds should support both, but everything that I know about is there. However that said, this project is still in beta, and could have problems, so worse case there's always a chance you'll need to manually flash anyway.

I have some notes on backing up the firmware here: https://github.com/mirko/SonOTA/issues/

[2017-10-23 04:19] sillyfrog commented on #34
@mirkorobocop So the same output as well?

If so (ie: FinalStage comes up, it downloads, then does it again), I'm not sure what's happening, it sounds like it's unable to write to flash for some reason. It'll probably require manual flash unfortunately :(

If you do that (ie: solder a header etc), it would be great to get the Serial output for debugging (of what it's doing now before doing the man

[2017-10-23 06:35] boraygowda commented on #41
Hi, Thank you so much for your guidance.
Unfortunately it didn't work.  I went through the steps until it connects to "FinalStage", does the upload and disconnects. For what it's worth, here's the logs:  https://pastebin.com/kJrDHu5J

I then rebooted the Sonoff and now it doesn't connect to my router.
The relay also goes on and off every second. Just weird behavior.

As a next step I will try to f

[2017-10-23 07:02] sillyfrog commented on #41
Hi, That log looks good! :)

It'll probably be in the default Tasmota configuration (looking to join via WPS, and trying the default WiFi networks). see here for more information (including button presses etc): https://github.com/mirko/SonOTA#running

[2017-10-23 07:32] boraygowda commented on #41
Sorry, I jumped the gun and posted before I could try a few things...

I was able to get the Sonoff to join the router and I can see the configuration page.

1. Then I selected the device type to be "1 Channel".
2. Saved configuration and rebooted.
3. Copied and pasted this URL to set the pulse time to 1 second:
_http://IPSONOFF/cm?cmnd=PulseTime2011_
(The above is from _https://github.com/arendst

[2017-10-23 07:35] sillyfrog commented on #41
Awesome! Glad it worked.

I have also updated the Wiki.

Enjoy!

[2017-10-23 07:35] #41 closed

[2017-10-23 13:35] papaiatis opened #42 "Unable to install requirements: issue with netifaces"
System: Linux Mint 18.2 64 bit
Python installed: 3.5.2
PIP3 installed: 9.0.1

[code]

Google doesn't help me with this error message.
Is Linux supported at all? Because only Windows is mentioned in the README.

Any idea would be great.

[2017-10-23 14:37] papaiatis commented on #42
I confirm that the initial setup steps works on Windows 7 64 bit.
Seems Linux isn't supported well.

[2017-10-23 21:25] 10der commented on #21
issue still here

Sonoff dual

[code]

[2017-10-23 22:18] andyfitter commented on #21
There’s a ‘dual’ with the same problem winging its way to the coder as we speak. Good luck!

[2017-10-23 22:22] 10der commented on #21
sorry, not clear for me.
so, we should be waiting for a final solution, as I can understand you.

[2017-10-23 23:49] christiamdc opened #43 "FinnalStage SSID never shows up"
Hi.

First thank you for the effort for developing this tool.

I know a similar issue has been reported but i still want to share the following information:

-I tried SonOff basic and SonOff S20 in two different wifi networks with all the requirement but I get stuck waiting for the FinalStage SSID to show up but this never happen. After this I can still control the SonOffs with ewelink app but onl

[2017-10-24 00:19] sillyfrog commented on #43
Thanks for the info, are you able to send the output from a run through as well please? (remember to remove your WiFi password). I can then take a look and try and see what it maybe.

[2017-10-24 00:37] christiamdc commented on #43
Logs:

C:\Users\christiam.munoz-del-\SonOta\SonOTA-master>python sonota.py
Select IP address of the WiFi interface:
    0: 192.168.1.17
Select IP address [0]: 0
WiFi SSID: BettyCl
WiFi Password: XXXXXX

Using the following configuration:
        Server IP Address: 192.168.1.17
        WiFi SSID: BettyCl
        WiFi Password: XXXXXX
** Now connect via WiFi to your Sonoff device.
** Please change i

[2017-10-24 00:58] andyfitter commented on #21
I have posted a ‘dual’ to the coder who makes Sonota. He will hopefully receive it soon. Maybe he’ll be ale to fix our problems.

Andrew Fitter
andy@fittersystems.com

[2017-10-24 02:15] sillyfrog commented on #43
There does not appear to be any incoming HTTP connections so my guess would be that there is a firewall running on the host. Can you check that all firewalls have been disabled and see how you go?

[2017-10-24 02:20] sillyfrog commented on #42
It looks like it's missing the Python and header files, normally this is in a Python-dev package.

I would suggest searching for this: "fatal error: Python.h: No such file or directory"

Glad it worked on Windows, good luck!

[2017-10-24 02:20] #42 closed

[2017-10-24 03:51] sillyfrog commented on #21
@10der that is correct, I have not been a replicate this issue myself so I'm hoping the one that is coming from @andyfitter will help me diagnose the source of the problem. The Dual I have worked fine on the first go :(

[2017-10-24 05:02] 10der commented on #21
вт, 24 окт. 2017 г. в 06:51, sillyfrog <notifications@github.com>:

I can reproduce also I can give TeamView to my local env or something else.

[2017-10-24 18:42] strasharo commented on #43
Same happened for me and the issue was that my iptables firewall was up. Flushed it and it all went fine.

[2017-10-24 23:50] christiamdc commented on #43
I turn off the firewall and try several times.. it works after the fifth time, I don't know why it failed the first four attempts.

Thank you for the support!

[2017-10-25 04:55] #43 closed

[2017-10-26 04:49] sillyfrog commented on #21
@10der thanks for the offer, doing this remotely will be quite challenging because we need access to serial output as well as changing the network so we can look at the SSL traffic. I should have one arriving in the next few days, and I'll be able to have a look and try reproduce and then fix the problem then. Fingers crossed.

[2017-10-27 21:49] Electrocut commented on #15
For your information, I had the same problem with my S20 Socket (using lastest version, SHA1 [61b260f](https://github.com/mirko/SonOTA/tree/61b260f4b58a8732db36a7f45146ecb644572333))

./sonota.py went fine, but when the "FinalStage" SSID disapeered, the Sonoff S20 Socket didn't connect to my WiFi network.

I followed the instruction described above (press 4-5 times the button while the LED was fla

[2017-10-28 18:53] wiktorschmidt commented on #25
Might be worth updating the wiki to indicate that it does NOT work with v2.0.0. Upgrade to v2.0.1 is required through the official app. Currently the wiki is not clear on this

[2017-10-31 15:36] sfanicola commented on #41
guys
I got almost BG's same problem, unfortunately mine doesn't seem to solve alone!
My sonoff 1Channel is stuck in FinalStage status. Same as above the relay also goes on and off every second. I can stop it by pressing first button.
I tried to restart sonota.py with --no-prov but it simply doesn't work.

[2017-11-01 02:43] sillyfrog commented on #41
To confirm, you have the finalstage in SSID? Are you able to connect to it? If so, can you please send through the logs. The most common reason there is an issue at this stage is because of a firewall running when connected to the final stage SSID, so it can never downloaded the image.

[2017-11-01 06:40] sfanicola commented on #41
Sorry but I don't have the complete log, just this:

iMac:SonOTA-master nicola$ python3 sonota.py --no-prov
Starting stage2...
~~ Starting web server (HTTP port: 8080, HTTPS port 8443)
~~ Waiting for device to connect

The "FinalStage" SSID will disappear when the device has been fully flashed and image_arduino.bin has been installed
Once "FinalStage" has gone away, you can stop this program
.....

[2017-11-01 17:28] boraygowda commented on #41
The firewall was my issue. I'm on Windows7 and when joining FinalStage, the firewall window popped up, but went hiding under a bunch of other windows, so I missed it.  To my luck, I saw the firewall dialog box and I hadn't killed the running script.  So once I allowed permission the script continued and ultimately completed successfully.  The documentation specifically addresses this issue (thanks

[2017-11-01 18:20] sfanicola commented on #41
I’m on Mac. I can’t rerun the script from the start... the relay is stucked on FinalStage

[2017-11-02 12:15] rummyr commented on #34
I had this .. it kept rebooting back into "FinalStage".
TLDR: ran the --no-prov from windows instead of a RaspberryPi, setup indebuurt AP, configured, all is fine.

So, after having several non-working attempts to flash OTA I connected a serial console.
saw it was in "waiting"
power cycled the slampher,
re-ran the python script with --no-prov
connected my Windows box to "FinalStage"
- and it flash

[2017-11-02 14:48] PhantomSage commented on #15
Worked on my RF Bridge on my first try.
What I did:
1: Start SonOTA
2: 7 second push to clear the unit
3: Follow the SonOTA sequence
4: Another 7 second push to make sure it is cleared
5: 4 presses relatively fast to get it into AP, connect & configure.

[2017-11-03 06:21] Joeyhza commented on #21
Hi

Any progress on this?

I've bought a few Sonoff Duals and have the same problem on 2 of them so far - haven't bothered trying the other 2 but i'm confident the issue will be the same. Also getting error 404. Output attached

Microsoft Windows [Version 10.0.10240]
(c) 2015 Microsoft Corporation. All rights reserved.

C:\Windows\system32>cd\

C:\>cd src

C:\src>cd SonOTA

C:\src\SonOTA>pip3 inst

[2017-11-03 11:52] wejak commented on #34
I had exactly the same issue with Raspberry3 (latest Raspbian) and Sonoff basic. The sonoff started to download image_arduino.ino, but it never finished. I wiresharked the traffic and the TCP connection just died in a weird way. I retried with --no-prov dozens of times without any change in the behavior.

I even tried to serve the image from Nginx instead of Python, but the TCP trace was identical

[2017-11-04 01:54] sillyfrog commented on #21
I have received a sonoff dual that was having the same issue, but it is worked perfectly to me here (on both Mac and Windows).

My next guess is maybe the AP is causing issues as several people have tried different devices.

It maybe worth trying to set up your PC as an AP and have the sonoff connect to that, I'm not sure the best way to do this but it should be possible in a number of different s

[2017-11-04 02:10] #38 closed

[2017-11-04 02:11] #15 closed

[2017-11-04 02:12] #25 closed

[2017-11-04 05:25] jscurtu commented on #25
Yea, I tried flashing over serial, the thing is fried.. nothing to do here..

[2017-11-04 05:34] sillyfrog commented on #25
Bummer, I have seen some other people that have had bad flash. Maybe worth a warranty claim?

[2017-11-04 07:31] zibous opened #45 "Sonoff S20 Wifi Settings - Device will reboot ...."
Hi,

I try to update the firmware with your script but the device can not find Wi-Fi "indebuurt1"
and I can not change the settings.

An update of the firmware with the USB adapter is not  possible because the
TX pin is not working on the connector strip.

How can I set WLAN?

Alternative would be an update of the firmware with the USB interface,
but I would need to know where I could still connec

[2017-11-04 07:31] Joeyhza commented on #21
Thanks @SillyFrog

I have run the pop command. Says requirement already up to date

[2017-11-04 10:13] zibous commented on #45
Hi,

Sorry. solved. Have host computer set up a hotspot and so I could access the device and make the settings.

![bildschirmfoto 2017-11-04 um 09 37 14](https://user-images.githubusercontent.com/30198737/32404517-0ebbf47c-c151-11e7-904e-8da7e758019a.jpg)

Super software, everything works fine without the devices open and without soldering.

So have updated 3 Sonoff S20 with the Tasmota software.

[2017-11-04 15:02] kevinshane commented on #21
Hi @sillyfrog
I am stuck at "Once "FinalStage" has gone away, you can stop this program" and many continue running "dots" many times, the shell shows many words like this:
The "FinalStage" SSID will disappear when the device has been fully flashed and image_arduino.bin has been installed
Once "FinalStage" has gone away, you can stop this program
...........................
here is the log file
[de

[2017-11-04 15:05] kevinshane commented on #21
Hi @sillyfrog here is the screenshot of this, I still connected to the finalstage ssid, and the shell keeps poping up those words like... forever... it looks like no error at all but...I don't know what's happening
![dots](https://user-images.githubusercontent.com/10471026/32406501-9766c96a-c1b4-11e7-9c1e-c5a94b5e0a53.jpg)

[2017-11-04 15:11] thefathefa commented on #21
I think you can controlC the flash script, power cycle the sonoff and
connect to a SSID like sonoff-xxxx, no password. The you'll get access to
the UI, and you'll be able to change the Wifi SSID and passwords to what
you like.

I have to do that every time.

Le sam. 4 nov. 2017 à 16:05, kevinshane <notifications@github.com> a écrit :

[2017-11-04 15:30] kevinshane commented on #21
hi @thefathefa thank you for your reply, however I currently connected to the wifi ssid is called "finalstage", I can't find a ssid like "sonoff-xxx" or something else, exacept what it shows is only a "finalstage" and the other one is my router wifi ssid, also I don't know how to access to the web ui? Is this ip: 192.168.4.1??

[2017-11-04 17:12] thefathefa commented on #21
If you are stuck for a long time with the flashing process, I think it is safe to kill it and power cycle the sonoff. That should solve the finalstage ssid:-)

Once it is power cycled, check if you see a new SSID "sonof-xxxx" being available. If yes, connect to it (np password). You might be forwarded directly to the UI, if not, yes, I believe the IP to use is 192.168.4.1 (you can check the IP you

[2017-11-04 17:14] thefathefa commented on #21
@kevinshane check your traces and see if you have a line like this:
`2017-09-24 16:10:33,763 (INFO) 200 GET /ota/image_arduino.bin (192.168.4.1) 20500.15ms`
If you do, it is a good sign, if you don't, then it means the process did not go to the end.

[2017-11-04 19:29] kevinshane commented on #21
hey man @thefathefa after many fails, I finally managed to flash the sonoff touch t1 3gang version... yeay~~~ thanks man, you helped a lot
the reason why I stuck in the finalstage mode, is because my network environment is kind of... messy... I have my laptop built in wifi enabled and connected, and also I have my wire network connected too(I think the program is confused by the 2 obtained ip addr

[2017-11-04 19:31] thefathefa commented on #21
Glad I could help as I received a lot of help earlier on here as well!

[2017-11-05 18:49] 10der commented on #21
latest version
[code]

[2017-11-05 18:58] 10der commented on #21
btw
[http://pastexen.com/i/Rmkyc9dpcd.png](url)

[2017-11-05 23:38] 08-15at commented on #21
@sillyfrog I'm pretty sure that it is not an AP issue. My trials with two different routers, SoftAP on a Mac and an iPhone as Hotspot all failed while using my dev Mac.
And when it finally worked with my Sonoff Dual on the Ubuntu-PC the PC was connected to the same AP as the Mac which failed every single time.
So I'm still considering a timing issue (the PC I used is probably way too fast someone

[2017-11-06 01:16] sillyfrog commented on #21
Weird, I have received a Dual from @andyfitter that was getting the 404, and it worked fine for me on a Mac and on a Windows machine. If you've tried to the soft AP on a Mac I think that discounts that idea.

I think it is unlikely to be UDP as it does work most of the time for other users with other devices, and the code does nothing with UDP. Most OSs will be sending UDP traffic for various reas

[2017-11-06 03:15] rlust opened #46 "OSX Install"
- Operating System: OSX High Sierra
- Python Version: 3.5.2
- Sonoff model: Sonoff

Please also drag and drop the log file to the issue so it is attached.

Getting the following error setting up requirements:

    /usr/bin/clang -fno-strict-aliasing -Wsign-compare -fno-common -dynamic -DNDEBUG -g -fwrapv -O3 -Wall -Wstrict-prototypes -arch i386 -arch x86_64 -g -DNETIFACES_VERSION=0.10.6 -I/Library

[2017-11-06 03:45] sillyfrog commented on #46
That just looks like development tools are not installed. Normally Mac OS should prompt you to install them, then after they are installed you can re-run the command.

You should also be able to install them by running the following as well: `xcode-select --install`

[2017-11-06 03:45] #46 closed

[2017-11-06 19:55] djvandijk opened #47 "Sonoff Touch not reaching FinalStage"
I've got a Sonoff Touch T1 UK 3 channel switch which is stuck after provisioning stage 2. I however don't see the FinalStage SSID coming up. Down below is the debug log. I also attached 2 images of the PCB itself. If anyone can point out where I can find GND/V3/etc so I can flash it using a cable that would also help
![wp_20171106_20_33_55_pro](https://user-images.githubusercontent.com/8435423/324

[2017-11-06 20:57] soytoledano commented on #36
Hi,

first of all, thanks for this fantastic work!

It seems I have the same issue with the Sonoff POW ver 2.0 with Python 3.7.0a2 using Windows 7. I´ve disabled Windows Firewall and the antivirus (just in case), but The FinalState SSID doesn´t come up and the Sonoff seems to go to "normal mode" - Blue led blinking (same than when I power it up). I´ll try to Upgrade the POW to 2.0.4 to see if that

[2017-11-07 00:31] sillyfrog commented on #36
@soytoledano I would suggest checking your DHCP server logs and make sure the song off is connecting to your Wi-Fi network. It may also be worth trying the `--legacy` option.

[2017-11-07 00:33] sillyfrog commented on #47
I would suggest doing a hard reboot (or just disconnected from power for a few minutes), and see if final stage comes back after that, as the flashing process looks like it has gone well.

[2017-11-07 20:35] soytoledano commented on #36
Hi @sillyfrog, thanks for the help. I tried the --legacy option and nothing changed. Then I updated the sonoff version to 2.0.4 (I had 2.0.2) and the program got to the "FinalStage", but when I tried to connect to it, windows couldn´t connect, not sure why, but I suspect was a windows issue, cause I could connect from the phone. I restarted windows and now I can connect to FinalStage (and get the

[2017-11-07 22:04] Atmannen commented on #21
Hi! I think I have the same issue with a POW. I first tried the standard procedure for windows multiple times but never got to the FinalStage. I then tried with --legacy and saw the 404 error. I have the log at: https://pastebin.com/Qym5ay6h
If i reset the POW by pressing the button I get the ITEAD-wifi network. Otherwise nothing. In my router (Unifi USG) I see that ESP_25DB8C is connected (I assu

[2017-11-07 22:16] 10der commented on #21
Btw, same issue here.
Set provision mode OK
After:
 connect - OK
 Trying to upload 404

And btw 2:
I am not cool python developer ;) so, I am wrap (port your code) provision
mode and server emulate mode C# code
So, provision mode ok
After my device succ connected to my c# console web / socket server
Succ registered
But stopped with same error when I trying to give some foods :) via binary
updates

[2017-11-07 22:38] soytoledano commented on #36
Ok, I just bypassed the stage1 and it went to the "finalStage" as I wanted. It seems it did what it´s supposed to do and finish (finalstage SSID is gone=, but not sure if the sonoff is working fine. There is no led on and It´s not connected my SSID. Pushing or holding the button doesn´t seem to do anything. If I umplig it and plug it again, the blue led blinks and the goes of.  Hope I haven´t bric

[2017-11-07 22:52] soytoledano commented on #36
Hi again, I just found out that it´s actually working. The button is working, although it´s not very intuitive in my opinion... I was able to Start Wifi manager providing an Access Point with IP address 192.168.4.1 with 4 short presses (I guess). I thought it didn´t work cause the leds are off until the wifi is configured.

Fantastic program!! Thanks a lot for your work, so simple and quick to fla

[2017-11-08 17:23] djvandijk commented on #47
I had it disconnected for the entire night, but it doesn't reach final stage after coming back. 'Something' is flashed though, since I also can't get the Sonoff Touch into AP mode anymore.
When I turn the device on after about 20 seconds I see the wifi led blinking for 10 seconds, followed by 2 seconds of staying on and then the device seems to reboot and the sequence is repeated.
I can reboot it

[2017-11-09 11:10] sillyfrog commented on #47
Have you tried pressing the button 4 times, or setting up a default AP? See the end of the "Running" section at: https://github.com/mirko/SonOTA#running - it maybe one of the later runs worked

[2017-11-09 18:33] jptrsn commented on #20
I'm not able to get this to work with my Sonoff B1. I'm spoofing eu-disp.coolkit.cc to my machine on 192.168.2.100, and using wireshark, I can see the sonoff hitting it with a request, but the sonota.py output never logs anything received, and I never see FinalStage as an available wireless network.

I also tried spoofing all calls to *.coolkit.cc to the machine running sonota, and logged the outp

[2017-11-09 21:39] djvandijk commented on #47
I managed to get it into AP mode somehow (not sure how, but many presses and more presses, more then 4). It broadcasted an SSID of SonoffXXXX (not sure which number).
I entered my Wifi details, saved and restarted, but it doesn't seem to connect to my Wifi afterwards (I tried 2 times).
Upon connecting to the Touch I see the landing page which tells me there is a minimalistic version installed and

[2017-11-09 22:05] djvandijk commented on #47
In addition to the previous the SSID is: sonoff-1970 and it does seem to be 4 presses, but I am unsure of the timing.

[2017-11-09 22:06] djvandijk commented on #47
That's sonoff-1790 (not 1970)

[2017-11-09 23:22] christiamdc opened #48 "SonOff POW does not work after flashing"
- Operating System: Windows
- Python Version: Python 3.5
- Sonoff model: SOnOff POW

Hi.

I have successfully flashed SonOff basic and SonOff S20. I tried flashing SonOff POW, the process finished successfully but now the device does not respond, the wifi led just blink once when I powered it on but no more blinks after that. Do you know what could it be? I tried then with another SonOff POW devic

[2017-11-10 00:16] adamrobinson361 commented on #41
Hi @boraygowda,

Please can you expand on what you did to get from the intermittent relaying to being able to connect.

I'm in the same situation you were in.

Regards,

Adam

[2017-11-10 02:37] sillyfrog commented on #48
If it has finished you should be able to put it into AP mode by pressing the button 4 times, the alternative is to configure an AP with the default credentials, see the end of the running section here: https://github.com/mirko/SonOTA#running

[2017-11-10 02:42] sillyfrog commented on #47
So it looks like Sonoff-Tasmota is installed OK, but just needs to be configured, I have some basic directions at https://github.com/mirko/SonOTA#running . That also includes some links to the Sonoff-Tasmota page.

The included binary is the sonoff.bin from https://github.com/arendst/Sonoff-Tasmota/releases , so it should match the Sonoff-Tasmota documentation.

Good luck!

[2017-11-10 02:43] sillyfrog commented on #45
Glad it worked!

I'm thinking I may change the default included image so that it starts in AP mode, as this is not the first time people have had this type of issue.

[2017-11-10 02:43] #45 closed

[2017-11-10 03:22] christiamdc commented on #48
Thanks for your reply.

I did that as i did for the sonoff basic and S20, there was no problem putting those devices into AP mode. But it is not the case for these 2 SonOff POW. When I turn on the power the wifi led blink once and then it is dead. I tried pressing the button 4 times but still the led did not blink. In the other hand, the on off button does work.

[2017-11-10 09:03] sfanicola commented on #41
To solve the intermitten on/off I had to remove the IC like in the photo below
[https://user-images.githubusercontent.com/9368955/28057156-21e35406-65d4-11e7-88b1-a32e8a1379b1.png](url)
After that I flashed the board with arduino, because the script simply didn't go on

[2017-11-10 19:09] ChrisRomp opened #49 "Works with TH16 v2.0.4"
Sorry I can't figure out how to update your wiki page for compatible models, but this worked for me to update a new Sonoff TH16 with firmware 2.0.4. Thanks. 😄

[2017-11-10 21:45] 10der commented on #21
so. I am still trying to play with my Sonoff dual.

here is some step reproducing the error.
0) turn device into AP mode
1) I am manually from my application connect to IT-XXXX device WIFI
2) I am manually from my application send
[code]
3) responce OK
4) device automaticaly reboted.
5) start sonota.py
python sonota.py --no-prov --serving-host 192.168.1.45
6)
[code]

bummer!
:(

[2017-11-11 01:37] ashmckenzie commented on #21
On my Mac I found deleting disused interfaces helped out with a similar
problem..

On Sat., 11 Nov. 2017, 8:45 am Oleg Denisenko, <notifications@github.com>
wrote:

[2017-11-11 07:03] 10der commented on #21
@ashmckenzie how the response from ESP (sonoff) 404 can concern with PC interfaces?

[2017-11-11 07:06] sillyfrog commented on #21
@ashmckenzie Can you outline what you did? Were you getting the `404` response above, then removing interfaces on your Mac fixed it?

If someone that can repeat the problem take a traffic dump, that would be great. On a Mac or Linux, something like the following should work:

1. Run `./sonota.py`
2. Once the questions have been answered, and just before selecting the ITEAD-#### interface, run this

[2017-11-11 07:08] sillyfrog commented on #49
Updated, cheers.

[2017-11-11 07:08] #49 closed

[2017-11-11 07:20] 10der commented on #21
win10
[404.pcap.zip](https://github.com/mirko/SonOTA/files/1463529/404.pcap.zip)

[2017-11-11 07:29] sillyfrog commented on #21
@10der Thanks for this, do you have the corresponding `debug_########.log` file as well? That will help me match up the packets. Cheers!

[2017-11-11 07:33] 10der commented on #21
[debug_1510384423.log](https://github.com/mirko/SonOTA/files/1463534/debug_1510384423.log)

[2017-11-11 07:34] 10der commented on #21
please ignore all POST /inform requests in log file - it's my ubiquiti SPAM

[2017-11-11 09:10] djvandijk commented on #47
Problem is that I can enter the configuration of my home WiFi  when using AP mode this configuration doesn't seem to be saved as the device won't connect to the WiFi afterwards. The AP mode also doesn't provide me the option to update the firmware.

[2017-11-11 10:19] 10der commented on #21
with ssl traffic

[2017-11-11 11:53] adamrobinson361 opened #50 "Sonoff POW red light intermittent relay"
- Operating System: Mac
- Python Version: 3.6.0
- Sonoff model: Sonoff Pow

I have recently tried to flash the sonoff pow using this process. The script seemed to work fine, having completed the *final stage* but the device does not show up in wifi list nor will it join an indebuurt1 guest network I've set up with the credentials you outlined.

The led just remains red with no flashing and the dev

[2017-11-11 12:34] sillyfrog commented on #21
@10der Thanks for that, *I have been able to replicate!* (At least artificiality)

Can you (or anyone) please try the latest build and let me know if it works? If it appears to start downloading but then stops and you get a 404 again, on line 143 there is a sleep for `0.1` seconds, try increasing to `1` second, and see if that helps.

Cheers.

[2017-11-11 12:40] 10der commented on #21
lol! (see pic) you stopped me for some interesting moment :)
![xevgpvmvkz 1](https://user-images.githubusercontent.com/7056498/32689466-2fa9699c-c6ee-11e7-8c06-dccb8eb99482.png)

5 mins....  I am disappointed with OTA update and start to sold pins for Arduino IDE flashing...
Ok. just 5 mins - I'll close the box :)

[2017-11-11 12:44] 10der commented on #21
[debug_1510404245.log](https://github.com/mirko/SonOTA/files/1463744/debug_1510404245.log)

[2017-11-11 12:49] 10der commented on #21
Do you have any idea what next?

[2017-11-11 12:49] sillyfrog commented on #21
@10der Would you mind trying again with the one second delay mentioned above, if you can also get a traffic dump that would be good (I only need port 8080).

[2017-11-11 12:53] 10der commented on #21
[code]

nothing changed :(

[2017-11-11 12:57] sillyfrog commented on #21
Bummer, if you can take a traffic dump again that will give me something to look at in the morning.

 The issue appears to be related to TCP offloading, based on the traffic dump. I’m hoping what I have done has stopped that, but I’m not 100% sure.

[2017-11-11 13:01] 10der commented on #21
btw,
1) 1 sec delay not works
2) i am paying with chunk size... also doesnot work
3) IMHO root issue not in delay. We got error on first chunk....

X - simple print on chunk write

[code]

[2017-11-11 13:14] 10der commented on #21
[SonOTA-last.zip](https://github.com/mirko/SonOTA/files/1463755/SonOTA-last.zip)

[2017-11-11 14:06] jbbr opened #51 "Final Stage does not show up"
### What I have done
- put sonoff to pairing mode, connected to ITEAD- wifi
- Started `./sonota.py` without parameters, typed wifi SSID/password
- After provisioning switched back to home wifi, firmware upload seems to complete without errors

- **A few seconds after the last `WEBSOCKET INPUT` message without error I get some 404s:**
[code]

### Problem
- "Final Stage SSID" never shows up
- When k

[2017-11-11 14:56] jbbr commented on #51
I now checked out 736bd1df3ad9cb9a9f95baa825930a0de8ab4482 and flashing went fine without any issues.
Maybe 2c93c1994d2224ee5979114729b4a7d7f94414a5 or some commit in between broke the flashing process for the S20.

Debug log for the successful flash with 736bd1df3ad9cb9a9f95baa825930a0de8ab4482: [debug_1510411362.log](https://github.com/mirko/SonOTA/files/1463809/debug_1510411362.log)

[2017-11-11 21:58] sillyfrog commented on #21
@10der Thanks again for helping me sort this.

I think I had a bug with the forced flush (no `yield`), also, the I didn't take into account the headers for the first packet. The latest build now fixes this (and hopefully everything else). If you (or anyone having this issue) have a chance to test this out, that would be great.

Cheers.

[2017-11-11 22:04] sillyfrog commented on #51
Woah, that's really weird as the Sonoff is downloading `image_user2-0x81000.bin` twice at the same time.

The `404 GET /sockjs-node/info?t=1510408541676` can be ignored as that's just something on localhost (note the `(::1)`).

I have pushed an update that should help sort that sending issue (I was not flushing the packets correctly, and hardware acceleration may have kicked in.)

Thanks for sendi

[2017-11-11 22:09] 10der commented on #21
[code]

[2017-11-11 22:11] 10der commented on #21
and :) 404

[code]

[2017-11-11 22:11] 10der commented on #21
[debug_1510438142.log](https://github.com/mirko/SonOTA/files/1464156/debug_1510438142.log)

[2017-11-11 22:16] 10der commented on #21
as I can see Sonoff denied our first packet (chunk == 10) and close stream - bye bye...

[2017-11-11 22:16] djvandijk commented on #47
Managed to get it working by setting up the temporary wifi again. Apparently the AP mode shows a different interface which doesn't allow you to upgrade the firmware. When connected to the temporary wifi I could upgrade the firmware. Case closed.

[2017-11-11 22:18] 10der commented on #21
yeah... I wish magic was real, you know.

[2017-11-11 22:36] sillyfrog commented on #21
@10der  O man! This is doing my head in! My test device is also a Dual. Have you tried updating using the eWeLink app, then using this? I think you have one version older than my one (v1.3.0).

My only other idea which I'll post once I have looked at the traffic is to emulate the ITEAD servers headers more closely (as it's dying on the first packet).

[2017-11-11 22:44] 10der commented on #21
1) before I start to SonOTA project I was updated my device on latest version
2) now I put to startup my local ip,address if you possible can you provide me real if or domain for eWeLink OTA server... I’ll reset this value via one app

Thank you

[2017-11-11 22:47] sillyfrog commented on #21
If you press and hold the button for 7 seconds, that will reset it, and you can then connect via your phone and configure using the eWeLink app rather than SonOTA.

[2017-11-11 22:50] 10der commented on #21
Thank you so much. I am going to bed now :)
Have a nice day!

[2017-11-11 23:02] sillyfrog commented on #21
@10der I have just pushed a change with more headers. Something else to try at least.

[2017-11-12 04:15] oglodyte commented on #21
@sillyfrog Last commit worked for my Sonoff RF.  Yesterday was getting 404 error.  Thank you so much!

[2017-11-12 06:42] 10der commented on #21
ааааааааааааа!
![w958fqhjup 1](https://user-images.githubusercontent.com/7056498/32696619-692d8526-c785-11e7-8386-81918ee449f8.png)

[2017-11-12 06:52] 10der commented on #21
now no final update

looping on
.....Current IPs: ['192.168.1.45', '192.168.4.2']
The "FinalStage" SSID will disappear when the device has been fully flashed and image_arduino.bin has been installed
Once "FinalStage" has gone away, you can stop this program
..............................

[2017-11-12 06:58] sillyfrog commented on #21
@10der So it's getting further which is great! So you have been able to connect to the FinalStage SSID? Can you check a `tcpdump` again on port 8080 and see if it's trying to connect? (It tries every minute or so). I regularly see issues with Firewalls on this step (but normally Windows, not Linux).

[2017-11-12 07:21] 10der commented on #21
Sir, can you add this file to FAQ (who use W10 etc)?
![untitled](https://user-images.githubusercontent.com/7056498/32696827-eba9ec42-c78a-11e7-9c7c-0c62c7044052.png)

[2017-11-12 07:22] 10der commented on #21
another question: donation?

[2017-11-12 07:32] 10der commented on #21
so. after final3 device not connected to network!

Pinging 192.168.1.41 with 32 bytes of data:
Reply from 192.168.1.45: Destination host unreachable.
Reply from 192.168.1.45: Destination host unreachable.
Reply from 192.168.1.45: Destination host unreachable.
Reply from 192.168.1.45: Destination host unreachable.

Ping statistics for 192.168.1.41:
    Packets: Sent = 4, Received = 4, Lost = 0 (0%

[2017-11-12 07:50] sillyfrog commented on #21
@10der To confirm, it worked and you got past the FinalStage SSID?

The default Sonoff-Tasmota does not have an AP (and it has no config), see https://github.com/mirko/SonOTA/#running for more info. (I'm thinking about changing the default binary to broadcast an AP to simplify this, but wanted to get this *mega* issue sorted - which is looking close! :) )

[2017-11-12 08:07] 10der commented on #21
yep!

[2017-11-12 08:20] 10der commented on #21
ok!
but button long press now doesn't work and i can't switch device to OTA mode again.
crazy!

[2017-11-12 10:58] 10der commented on #21
just FYI

[code]

[2017-11-12 11:58] wfa001 opened #52 "SONOF RF Bridge WiFi 433 MHz"
- Operating System: Windows 10
- Python Version: 3.5.4
- Sonoff model: SONOFF RF Bridge WiFi 433 MHz

While trying to flash the Sonoff RF Bridge Device the process will not start stage 2 - FinalStage never shows up. Has anyone already successfully tried to flash this type of device?

[debug_1510487306.log](https://github.com/mirko/SonOTA/files/1464584/debug_1510487306.log)

[2017-11-12 12:24] sillyfrog commented on #52
Looking at that log, my first guess would be the firewall - it's very common an issue on Windows. If you completely disable it for doing this flashing, things are likely to work.

Good luck!

[2017-11-12 12:25] #47 closed

[2017-11-12 13:49] Siggemada opened #53 "FinalStage does not show up"
Just trying this for the first time so excuse me if I did something simply wrong:

- Operating System:
Ubuntu 17.10
- Python Version:
3.5.3
- Sonoff model:
model: "PSA-BHA-GL",
version: "23.42.5"

Please also drag and drop the log file to the issue so it is attached.

[sonota_error.log](https://github.com/mirko/SonOTA/files/1464711/sonota_error.log)

[2017-11-12 14:44] wfa001 commented on #52
with the given setup i successfully flashed a sonoff touch without any problems. Firewall is switched off. Maybe the rf bridge needs different handling?

[2017-11-12 14:46] Siggemada commented on #53
And the relay starts clicking every loop. It sounds like a double click....

[2017-11-12 14:49] Siggemada commented on #53
Model marking inside device:
Sonoff TH10/16
Ver 2.1
2017-6-8

[2017-11-12 15:08] mikeS7 opened #54 "Sonoff Touch rebooted during flash"
- Operating System:
Mac OS X 10.12.6
- Python Version:
Python 3.6.3
- Sonoff model:
Sonoff Touch Wall Switch
Please also drag and drop the log file to the issue so it is attached.

I successfully flashed Sonoff 4CH Pro.
But Sonoff Touch rebooted itself during flashing and uploading started again, after several restarts I got message about FinalStage, but never got such SSID.

Unfortunately I don't

[2017-11-12 15:13] mikeS7 commented on #54
Relay clicks on every store attempt, may be the same way as #53

[2017-11-12 16:22] rlust commented on #53
I am having the same issue:
OS OSX
Python 3.6
SonOff Basic

Never get Final Version, looped during instal and never stopped
[debug_1510501076.log](https://github.com/mirko/SonOTA/files/1464866/debug_1510501076.log)
l

[2017-11-12 17:29] Siggemada commented on #53
I tried to OTA wirh Windows 7 instead. No luck:

[sonota_error_win.txt](https://github.com/mirko/SonOTA/files/1464919/sonota_error_win.txt)

[2017-11-12 20:05] mouth4war commented on #49
Pardon the OT,  I've got a couple of TH16s on the way and was wondering if they have the power consumption measurement feature. From what I've read online, the POW and TH16 are identical apart from the sensor support.

[2017-11-12 23:12] sillyfrog commented on #53
I have pushed a change that will revert how files are served, which should fix this. I need to figure out a way to make it automatic (one day). If you can pull the latest release and try again, that would be great.

[2017-11-12 23:14] sillyfrog commented on #21
@everyone The latest build has the new way of serving files as an option. So if you get the `404` error, please try with the `--slowstream` argument when running.

[2017-11-12 23:26] andyfitter commented on #21
That’s fantastic news. How does it fit with the fact that it always worked for you but not for others? Maybe your LAN characteristics are different - slowing down the transfer?

[2017-11-12 23:30] Atmannen commented on #21
@sillyfrog Tried with two different wifi-dongles on my W10 computer. FinalStage does still not show up.
Sonoff POW is the one I am using.

https://pastebin.com/UB5t9vhD

[2017-11-12 23:36] sillyfrog commented on #21
@andyfitter Best I can tell from looking at traffic dumps, the issue happens because of 2 reasons:

1. The expected headers are not there (so I'm adding in lots to match upstream)
2. The hardware TCP offloading is doing something the Sonoff does not like (I can tell when it's using this when there are packets >1500 bytes)

The slow stream break things up such that each payload is smaller than a fu

[2017-11-12 23:37] sillyfrog commented on #21
@Atmannen That looks unrelated to this, if you can post a new issue, but it looks like a firewall issue on the PC.

[2017-11-12 23:42] sillyfrog commented on #52
I would suggest getting the latest build (as there have been a few important changes). But for this error try running with `--legacy` (and if that does not work, try updating to the latest Sonoff release using the eWeLink app first).

[2017-11-12 23:45] sillyfrog commented on #54
@mikeS7 Can you try with the latest build, there have been a few changes to how things are served. If that does not work, also try running with `sudo ./sonota.py --legacy`.

[2017-11-13 00:14] andyfitter commented on #21
Cool. So you think that your network card wasn’t doing any offloading, which is why it worked for you, but other peoples were?

[2017-11-13 06:26] mikeS7 commented on #54
Got it working now, thanks a lot!
Log is attached
[SonoffTouch-flash-good.txt](https://github.com/mirko/SonOTA/files/1465795/SonoffTouch-flash-good.txt)

[2017-11-13 06:26] #54 closed

[2017-11-13 06:31] sillyfrog commented on #20
@jptrsn Can you include your debug_######.log file as well? Looking at the traffic dump something appears to be dropping the link, so please also ensure all firewalls are turned off.

[2017-11-13 12:34] adamrobinson361 commented on #50
@sillyfrog - any ideas on this. Is the bold red light not flashing something you've come accross before?

Regards,

Adam

[2017-11-13 14:04] whuiscool opened #55 "FinalStage does not show up"
- Operating System:
MacOS 10.13.1

- Python Version:
python3.5

- Sonoff model:
Sonoff Basic

Please also drag and drop the log file to the issue so it is attached.
[issue.log](https://github.com/mirko/SonOTA/files/1467087/issue.log)

[2017-11-13 15:43] NameLessJedi commented on #53
Not sure if that's same problem but FinalStage never appeared for me. And in the process I might bricked two Sonoff Basic's :/ (I'll try with serial cable later but at the moment both look like dead ; no LED blinking, no reaction to push button). I had problem yesterday and after today's fix one Basic flashed perfectly. Couple of hours later tried again on another and waited for FinalStage for lik

[2017-11-13 17:22] Atmannen commented on #21
@sillyfrog Using --legacy and the automatic slowstream did the works for me (tried on macbook with the same results first). So I believe old firmware on the Sonoff POW is the problem. Maybe it had worked if I had updated before I tried SonOta.
Thanks for all help!

[2017-11-13 17:55] Siggemada commented on #53
I am sorry but I went ahead and flashed with cables. I have one more device will try with that one.

[2017-11-13 19:31] Xeroxxx opened #56 "Sonoff POW 2.0.2"
For whatever reason I'm not allowed to edit this page: https://github.com/mirko/SonOTA/wiki

Sonoff POW / 2.0.2 / requires --legacy and --slowstream

Cheers

[2017-11-13 19:40] boraygowda commented on #41
Adam,

When it started I simply reset the board with a long press (I forget how many seconds), and restarted the process.

BG.

[2017-11-13 23:36] sillyfrog commented on #55
That looks like it's not the latest Python for Mac. See #31 and the README https://github.com/mirko/SonOTA

[2017-11-13 23:36] #55 closed

[2017-11-13 23:40] sillyfrog commented on #53
@NameLessJedi That's weird, it stopped downloading after the first chunk. You could try a power cycle of the Sonoff, then run again with `--no-prov`.

[2017-11-14 12:49] NameLessJedi commented on #53
Unfortunately no dice :/ There is no FinalStage SSID and sonota.py just waits.
iwscan does not report any ITEAD-xxx, FinalStage or any new SSIDs when I power on Sonoff

[2017-11-14 13:19] rlust commented on #34
I used the newest release which got me to the Final _Stage, but now stuck there. Using MAC OSX.

[2017-11-14 17:43] Siggemada commented on #53
If you pull down GPIO0 (in my case by simply pushing the button) to earth before applying 3,3 v and keeping it to ground, the esp8266 boots in flash mode. This should not be affected by this upload. Simply upload the new sketch at this point.

[2017-11-14 23:59] wavemaking commented on #53
Also for me FinalStage does not appear. Everything else before seems to work without trouble. Debug log is attached. I noted that while waiting for the FinalStage network to appear, I can actually see the old "ITEAD-100007c38d" network again. What does that mean? I also tried waiting much longer, or power cycling the Sonoff with no visible changes.

- Operating System: Ubuntu 16.04
- Python Versio

[2017-11-15 00:17] sillyfrog commented on #53
Looking at that log, it appears that the Sonoff has not reconnected to download.
Couple of things to try:

- Ensure all firewalls are off when back on your LAN
- Try removing the second IP address thats on the same LAN
- Try running with `--legacy`

Getting a `tcpdump` will also be of value if all of the above don't work.

[2017-11-15 04:12] christiamdc commented on #56
Hi.

I ran the sonota process for POW 2.04. The process finished ok, but something it is wrong because the wifi led (blue light) only blink once when I turn on the device but after that it seems dead, the on/off button works though.

Do you have any idea what could be happening?. Maybe I need to run the process without upgrading the Sonoff firmware to 2.04.

I'll appreciate any advice.

regards

[2017-11-15 04:15] sillyfrog commented on #56
Can you please post the log?  Did you download the SonOTA build in the last 24 hours? If so, you should have a `sonoff-####` AP that you can connect to and configure the device - in which case it worked :).

[2017-11-15 04:25] christiamdc commented on #56
Thanks for answer.

Sorry, I don't have the log because all the steps well fine until de final message "all done" :(. The problem is that the device doesn't work after flashing it. I can turn it on and off using the button but the wifi lead does not blink. The SonOff never enter in configuration mode and the AP never shows.

I ran SonOta for S20 and basic models without no problem. The AP sonoff-#

[2017-11-15 04:30] sillyfrog commented on #56
Sounds like it's working if you have the AP :) . If you connect to the AP, you can configure Sonoff-Tasmota to connect to your network.

Should it be needed, there is a log file saved for each run in the same directory.

[2017-11-15 04:30] #56 closed

[2017-11-15 04:30] oglodyte commented on #20
Worked well for me to flash B1.  Couple of things:
- if in US need to spoof us-disp.coolkit.cc. (I simply added "address=/us-disp.coolkit.cc/192.168.X.X" to my tomato router DNS server config
- had to run "sudo ./sonota.py --legacy --no-prov --serving-host 192.168.X.X"  - it wanted that serving-host param
Hope this helps someone.

[2017-11-15 04:52] christiamdc commented on #56
Sorry for the misunderstanding. I meant that the AP showed for basic and S20 models. But it is not the case for the POW model. For this model, the AP never shows. I press the button 4 times but the wifi led does not blink and the AP never appears. I also tried configuring the default SSID but the device never connected.

Thanks for your instructions. I found the log. Here it is:

2017-11-09 18:04:

[2017-11-15 05:09] sillyfrog commented on #56
I'm assuming a long press (7-10 seconds) does not do anything?

That's weird because as you say, it all looks to have completed OK.

[2017-11-15 05:16] sillyfrog commented on #34
@rlust Can you please post the logs. Please also ensure all firewalls are completely turned off.

[2017-11-15 18:07] rlust commented on #34
[debug_1510584891.log](https://github.com/mirko/SonOTA/files/1475808/debug_1510584891.log)
[debug_1510585577.log](https://github.com/mirko/SonOTA/files/1475809/debug_1510585577.log)

Here are 2 log files.

I am constantly getting the FinalStage AP

I have tried putting SOnOff into discovery phase by holding button for 7 seconds, and also pushing button 4 times

No Changes

[2017-11-15 20:42] NameLessJedi commented on #53
@Siggemada thanks. This did the trick. Soon I'll have POW version and I'll try again :)

[2017-11-15 23:37] wavemaking commented on #53
sillyfrog, a combination of bullets 2 (disabling the wired ethernet connection) and 3 (--legacy) did it for me. Thanks!

[2017-11-15 23:38] #53 closed

[2017-11-16 04:29] sillyfrog commented on #50
@adamrobinson361 hmmm, it's not something I have seen (that said, I don't have a POW either, but the other devices are similar).

Does a single button press flip the relay?

Also worth checking for the `sonoff-####` AP, as based on the timing it was about when I changed the default image to start with an AP rather than in the (default) WPS mode.

[2017-11-17 17:09] SunLikeStar commented on #34
I am also facing the same issue. Stuck at finalstage SSID. Tried many times but same result. I 6 more sonoffs with me. Not sure if I should try it with another one. Any idea why this is happening.

[2017-11-17 19:57] domidollar opened #57 "OSError: [Errno 0] Error"
- Operating System: Windows 7
- Python Version: 3.5
- Sonoff model: Basic
[log.txt](https://github.com/mirko/SonOTA/files/1483619/log.txt)

File "C:\Users\doqu\AppData\Local\Programs\Python\Python37-32\lib\ssl.py", lin
e 1075, in do_handshake
    self._sslobj.do_handshake()
  File "C:\Users\doqu\AppData\Local\Programs\Python\Python37-32\lib\ssl.py", lin
e 696, in do_handshake
    self._sslobj.do_h

[2017-11-17 21:32] domidollar commented on #57
Okay i think i know it. I updated the Sonoff to 3.6.1.

It is possible to downgrad the Sonoff?

[2017-11-17 21:45] sillyfrog commented on #57
I’m not not sure how Python does it’s folders on Windows, but I would suggest moving Users\doqu\AppData\Local\Programs\Python\Python37-32 sideways and try again. I *think* it’s trying to use a Python 3.7 library in 3.5.

[2017-11-17 22:57] domidollar commented on #57
I uninstalled  the Python 3.7. but same isue.

Then i take another sonoff basic with FW3 .5.5 and it works without isues.

Thank you for your help and great work!!!

[2017-11-18 01:42] sillyfrog commented on #57
Do you have the logs from the successful run? I'd be keen to see it as the v3 firmware is very new and I don't have access to it (yet at least), it would be good to get a feel if it will be an issue in the future.
Thanks!

[2017-11-18 02:04] sillyfrog commented on #34
@rlust Looking at the first log it looks like it didn't download the full image on the first try. Looking at the second log, as it suggests, try running it with `--no-prov`, and connecting to the FinalStage SSID.

[2017-11-18 08:20] domidollar commented on #57
I'm sorry. I mean Fw 1.5.5, not 3.5.5 🙈

In my first comment ist it the Fw 1.6.1...

[2017-11-19 02:39] sillyfrog commented on #57
Ahhh! :) That makes more sense. Cheers!

[2017-11-19 02:39] #57 closed

[2017-11-19 21:08] czyz commented on #21
Just had a nearly-perfect SonOTA flash experience with a new Sonoff Basic and the latest SonOTA build. Either the new device came with the newer firmware and thus worked, or the new code did the trick. I didn't use --slowstream.

The one issue I did run into was that after FinalStage, the device didn't join my network but instead presented a "sonoff####" SSID (or similar name, am going by memory h

[2017-11-20 03:12] sillyfrog commented on #21
@czyz Thanks for the update. That is expected as no configuration is kept because the entire flash is rewritten to change the boot loader over.

Given it's gone well for a number of users now, I'm going to close this issue.

Thanks all for your help!

[2017-11-20 03:12] #21 closed

[2017-11-20 03:12] #52 closed

[2017-11-20 03:13] #51 closed

[2017-11-20 03:40] ratedz opened #58 "Sonoff 1 Channel inching relay wont download firmware"
- Operating System: OSX, Linux
- Python Version: 3.5.3
- Sonoff model: 1 Channel relay firmware 1.7.0

I have two of these devices, one worked just fine and the other fails all the time. It gets to the point where it connects back to my local network after connecting to the ITEAD network. Then it never downloads the new firmware. It just sits and repeats ( see below) The unit that did work, I neve

[2017-11-20 08:48] sillyfrog commented on #58
Unlikely given it's a brand new release, but can you try running with `--legacy`, and see what you get? If that does not work, it would also be good to get a `tcpdump` of the Sonoff IP to see if it's trying at all to hit the server.

[2017-11-20 13:59] ratedz commented on #58
I had run with legacy and slow stream previously and neither or both worked. IT was the same issue. Running with normal mode and looking at tcpdump it looks like its trying to hit my server/host on 8443 , Is that what your looking for ?

08:57:44.639452 IP (tos 0x0, ttl 128, id 876, offset 0, flags [none], proto TCP (6), length 44)
    192.168.0.163.6372 > 192.168.0.185.8443: Flags [S], cksum 0x1e

[2017-11-20 21:22] sillyfrog commented on #58
It's weird, it appears to drop the connection after making it. Can you please run it with `-s0 -w dump .pacp`, and send me the resulting file? I'd like to open up in WireShark and see if there is anything happening at the SSL negotiation phase.

You could also try a `curl -k` against HTTPS port 8443, and make sure you get the 404 page back.

[2017-11-20 21:40] ratedz commented on #58
Sorry , tcpdump doesnt like a .pacp ?

[2017-11-20 21:56] ratedz commented on #58
[dump.txt](https://github.com/mirko/SonOTA/files/1489264/dump.txt)
Curl output..
curl -k https://192.168.0.185:8443<html><title>404: Not Found</title><body>404: Not Found</body></html>

I attached a dump file.. its dump.txt

[2017-11-20 22:41] sillyfrog commented on #58
Hmmm, well that's a worry, the Sonoff disconnected after getting the certificate - so they may now be doing certificate verification, which would mean we can't do SonOTA any more :(

I'm planning on buying a basic for testing (and I'll backup the original firmware), so will see if there is a way to work around this... (But that will be a few weeks away).

[2017-11-20 22:49] ratedz commented on #58
Thats a bummer.. Is there an easy way to back up my firmware on the unit that works and load it on this one.. Without using and ftdi serial interface ?  Can you point me to a link or anything that might help me out.  Also, thanks a lot for looking into my issue.. Great software .

[2017-11-22 00:10] sillyfrog commented on #58
Unfortunately not as all of the strategies involve breaking apart the SSL connection. I have a Basic on order so it should arrive in the next few weeks and I'll check it out. I'll also keep trying to update my test Dual and see if there is a new release for it with the same issue and let you know.

[2017-11-22 07:38] jonasbager opened #59 "Confused about the steps"
- Operating System: OSX
- Python Version: 3.6.3
- Sonoff model: Basic

I can't seem to make this process work. Don't quite know if I'm doing it wrong. I installed python and got the script running fine, but it seems to mess up before the step of the "Final Stage".

What I did was, I ran the script, Selected my Mac's IP as the IP, set the wifi details of the same network and then set the Sonoff int

[2017-11-22 07:46] sillyfrog commented on #59
Can you attach the .log file from the run (drag and drop it onto the text field here). It should be promoting you as to what to do for each step.

[2017-11-22 11:50] jchidley opened #60 "Stopped sending image_user2-0x81000.bin"
I can't do anything with it now.

Using the latest versions of your software and a Sonoff basic sealed with "2017 8 20"

I was using Windows - having turned off all the firewalls and using it's Ethernet connected address for serving, whilst using everything else over WiFi.

[code]

It is difficult to program these things.  I have tried to program them over serial too.  I wonder if they've changed

[2017-11-23 09:45] jonasbager commented on #59
[debug_1511304227.log](https://github.com/mirko/SonOTA/files/1498571/debug_1511304227.log)

[2017-11-23 09:56] sillyfrog commented on #59
This is the important part (the last log line keeps repeating in another thread).

[code]

[2017-11-23 10:05] sillyfrog commented on #60
Do you have the `debug_######.log` file? There maybe something else there as well.

There are various options `--no-prov` and `--no-check-ip` to get things going at different stages / skip checks. See the output of `./sonota.py -h` for more details.

[2017-11-23 10:13] jonasbager commented on #59
IT WORKED!!! THIS METHOD IS SO FUCKING AMAZING. You won't believe how long I've been trying to get Sonoff flashed the normal way, without any luck.

Does this method work, if I have some Sonoff where I've already tried the normal way, but failed, since the now probably won't have the standard firmware on them?

[2017-11-23 10:16] jchidley commented on #60
No, stupidly I deleted those.

[2017-11-23 19:06] jchidley commented on #60
My new UART arrived today, and I managed to flash the firmware onto it using that.  One problem solved but there's a problem booting it.

[2017-11-23 20:01] jchidley commented on #60
I think I found the OTA device: it's booted up and this is where it's got to:

[code]

Which means, I think, that I must have missed a step of the process somewhere, or that it hasn't been configured correctly to look for my own network.

[2017-11-23 20:29] jchidley commented on #60
I created one of the access points (indeburrt1) and then connected to the device's web page (because I could see the IP address from the serial output:

[code]

The web page tells me that it's a minimal configuration and needs an upload.  It's not clear what files I should be uploading to it, perhaps it is on a Wiki somewhere?  I also tried to do the whole button press thing to configure via ESP82

[2017-11-24 04:39] sillyfrog commented on #60
So that all looks like what I would expect from an older release. When did you last download? Did you replace the `image_arduino.bin` file by chance?

It will not keep the configuration as it is completely rewriting the flash, so it does need to be configured. However it should be a full build (certainly has everything I need), so not sure what that is about.

The [Sonoff-Tasmota Initial-Configura

[2017-11-24 04:39] #60 closed

[2017-11-24 14:28] hipohop commented on #34
I have pretty much the same. Log file is here.
[debug_1511525591.log](https://github.com/mirko/SonOTA/files/1501890/debug_1511525591.log)

I'm lost what  to do now.
Any help is very much appreciated

[2017-11-24 22:01] smcallis77 commented on #34
After much frustration I finally managed to solve this issue for me. I kept getting stuck on finalstage - no download of image_arduino.ino. Windows 10. Finally went into properties in the 'finalstage' network. Changed network profile from 'public' to 'private' and voila 11 seconds later I had a fully working sonoff basic switch. Not sure of the version and cannot check because they are shutdown at

[2017-11-25 04:59] sillyfrog commented on #34
@ hipohop Can you please confirm you have completely disabled all firewalls. As per @smcallis77 , thIs is a very common issue, especially on Windows, as the 'FinalStage` SSID is considered a new network, and Windows will treat it as new, and default to blocking everything inbound (and that's what the logs suggest).

[2017-11-25 05:01] sillyfrog commented on #59
Unfortunately not, if you can't connect to an AP/get in on your WiFi, you are up the creek unfortunately. I would suggest checking out the various pages here: https://github.com/arendst/Sonoff-Tasmota/wiki as there is a lot of info there for the serial way.

Good luck!

[2017-11-25 05:01] #59 closed

[2017-11-25 05:31] hipohop commented on #34
I can confirm that I have turned off Antivirus and Windows Firewall on my windows 10. I'm not sure if  the network profile for 'FinalStage' was public or private.
I'm lost in how to rerun the entire procedure or where it point of "reentry" in to the procedure is?

[2017-11-25 05:40] sillyfrog commented on #34
@hipohop To restart from later in the process, run it with `--no-prov`, no need for SSID etc at that point. When you connect to the `FinalStage` SSID, it will figure it out, and go to stage 3.

[2017-11-25 05:45] hipohop commented on #34
Ok just started the whole process again and when connecting to "finalstage" changed from 'public' to 'private' and it seems to work as well. Thank you all for your help
[debug_1511588156.log](https://github.com/mirko/SonOTA/files/1502832/debug_1511588156.log)

[2017-11-25 05:52] sillyfrog commented on #34
Great news! Thanks for letting me know.

[2017-11-25 05:52] #34 closed

[2017-11-26 15:53] reloxx13 opened #61 "Beginner Problems and Fix"
- Operating System: Windows 10 x64
- Python Version: Python 3.6.2
- Sonoff model: sOnOff Basic

Please also drag and drop the generated `debug_########.log` file onto the issue so it is attached.

Hey,

im new to this project and this is my beginner expierience and how i fixed them:
Python was installed already on my machine, so i just started your install command and got following output:

[code]

[2017-11-29 18:13] macemoneta opened #62 "Uncaught exception GET /slowota/image_user1-0x01000.bin"
- Operating System: Linux (Fedora 26)
- Python Version: python3-3.6.3-2.fc26.x86_64
- Sonoff model: POW A16

Please also drag and drop the generated `debug_########.log` file onto the issue so it is attached.

Getting this error after downoad hits about 11%, after which the process cycles. Git clone is current as of today (2017-11-29).

Uncaught exception GET /slowota/image_user1-0x01000.bin?devic

[2017-11-29 19:01] macemoneta commented on #62
I found the problem. I noted reference to 192.168.10.33, when my (static) IP is 192.168.10.30. The IP address was 192.168.10.33 when I ran the pip3 install of the requirements. I uninstalled and re-installed the requirements and the install completed successfully.

pip3 uninstall  -r requirements.txt
pip3 install --user -r requirements.txt

Hopefully that helps someone else.

[2017-11-29 19:01] #62 closed

[2017-12-01 01:36] mateusromanbr opened #63 "error"
- Operating System: windows 10
- Python Version: 3.6.3
- Sonoff model: Basic

Please also drag and drop the generated `debug_########.log` file onto the issue so it is attached.

C:\SonOTA>sonota.py
  File "C:\SonOTA\sonota.py", line 156
    print("  {}%   ".format(int(f.tell()*100/length)), end="\r", flush=True)
                                                          ^
SyntaxError: invalid synt

[2017-12-01 01:40] sillyfrog commented on #63
I'm guessing it's running the wrong version of Python (v2). I would suggest running as per the README and see if you get the same thing.

Good luck.

[2017-12-01 15:57] #63 closed

[2017-12-01 15:59] mateusromanbr opened #64 "Time on final stage ?"
- Operating System: windows 10
- Python Version: 3.6
- Sonoff model: basic

i have a question about the time on finalstage
what time in this stage need ?
[debug_1512142760.log](https://github.com/mirko/SonOTA/files/1522110/debug_1512142760.log)

Please also drag and drop the generated `debug_########.log` file onto the issue so it is attached.

[2017-12-01 16:01] #64 closed

[2017-12-01 21:40] JC38 opened #65 "Endless Finalstage"
- Operating System: Win 10 x64
- Python Version: 3.5.x
- Sonoff model: S20
[debug_1512163013.log](https://github.com/mirko/SonOTA/files/1523008/debug_1512163013.log)

Hello,

I've tried to upload your custom firwmare in many steps and S20 reboot.
Now, the S20 always shows the Finalstage SSID, i launch the script with --no-prov option while my Windows firewall is stopped for every kind of network (

[2017-12-02 03:20] sillyfrog commented on #65
That sounds like it should be trying... My suggestion of things to test are:

- Try disabling/removing the device with the IP address `192.168.0.181`.
- Once your PC is connected to FinalStage, try connecting another device (eg: a phone), and browsing to http://192.168.4.2:8080/ - It should give a 404 error (not a connection error or similar), there should also be the attempt in the logs on screen